@media only screen and (max-width: 424px){
    .cont{
        width: 85%;
    }
    .col-xs-6-custom{
        width: 50%;
    }
    .breadcrumb-meskahu{
        display: none;
    }
    .sort button{
        display: none;
    }

    .product-box .seller{
        font-size: 12px;
        text-transform: uppercase;
    }
    .product-box .description{
        height: 70px;
        font-size: 14px;
        height: 65px;
    }
    .product-box .product-description{
        width: 100%;
    }
    .product-box .price{
        font-size: 30px;
        float: right;
    }
    .seller-pic{
        display: none;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }
}     /* xs */

@media only screen and (min-width: 425px) and (max-width: 485px){
    .col-xs-6-custom{
        width: 50%;
    }
    .product-box .price{
        font-size: 30px;
        float: right;
    }
}     /* xs */

@media only screen and (min-width: 425px) and (max-width: 550px){
    .col-xs-6-custom{
        width: 50%;
    }
    .breadcrumb-meskahu{
        display: none;
    }

    .product-box{
        min-height: 365px;
    }
    .product-box .seller{
        font-size: 17px;
        text-transform: uppercase;
    }
    .product-box .description{
        height: 70px;
        font-size: 14px;
        height: 65px;
    }
    .product-box .product-description {
        width: 100%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }
    .seller-pic{
        display: none;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }
}     /* xs */

@media only screen and (min-width: 551px) and (max-width: 767px){
    .col-xs-6-custom{
        width: 50%;
    }
    .product-box{
        min-height: 365px;
    }
    .product-box .seller{
        font-size: 26px;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }
}     /* xs */

@media only screen and (min-width: 768px) and (max-width: 1100px){
    .col-sm-4-custom{
        width: 33.33333333%
    }
    .product-box .seller{
        font-size: 24px;
        text-transform: uppercase;
    }
}       /* sm */

@media only screen and (min-width: 1101px) and (max-width: 1300px){
    .col-md-3-custom{
        width: 25%;
    }
    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 65px;
    }
    .product-box .price{

        padding: 5px 0px;
    }
    .product-box .basket{
        margin: 14px 0 11px 0;
    }
}     /* md */

@media only screen and (min-width: 1301px) and (max-width: 1650px){
    .col-lg-2-custom{
        width: 20%;
    }
    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 70px;
    }
}        /* lg */

@media only screen and (min-width: 1651px){
    .col-xl-2-custom{
        width: 16.66666667%
    }
    .product-box .seller{
        font-size: 14px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:20px;
        padding: 5px 0px;
        height: 90px;
    }
    .product-box .price{
        padding: 5px 0px;
    }

    /*BANNER/WIDGET*/
    .widget-fixed-bottom{
        margin: 48px 0 0 0;
        height: 150px;
        background-color: #ccc;
        position: fixed; top: 359px;
    }
    .bannerhely-fixed-bottom{
        margin: 48px 0 0 0;
        height: 250px;
        background-color: #ccc;
        position: fixed; top: 99px;
    }
}        /* xl */

/* ROW LEFT */
@media only screen and (max-width: 1100px){
    .bannerhely, .widget, .bannerhely-fixed, .widget-fixed, .bannerhely-fixed-bottom, .widget-fixed-bottom{
        display: none;
    }

    .keywords {
        margin: 210px 5px 0 5px;
    }
}       /* sm - xs */

/* NAVBAR DISPLAY */
@media (max-width: 1000px){
    .hidden-xs {
        display: none!important;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;

    }
    .row-wrapper {
        padding-left: 41px;
    }
    .row-left {
        position: absolute;
        left: 41px;
    }
    .row-left:hover{
        position: absolute;
        left: 250px;
        transition: left 1s;
    }
    .nav-wrap{
        margin: 90px 0 0 0;
    }
    .sidebar{

    }
    .sidebar .trigger span{
        margin-right: 5px;
    }

    .specify{
        position: fixed;
        top: 50px;
        left: 41px;
        width: 90%;
    }

    .keywords {
        margin: 180px 5px 0 5px;
    }
}

/* NAVBAR FIX */
@media only screen and (min-width: 768px) and (max-width: 941px){
    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;
    }
    .nav-wrap{
        margin: 90px 0 0 0;
    }

    .navbar{
        max-height: 53px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px){
    .specify{
        position: fixed;
    }

    .keywords {
        margin: 221px 5px 0 5px;
    }
}

/* SEARCH ROW RESP */
@media only screen and (min-width: 1000px) and (max-width: 1179px){
    .specify .search-bar{
        display: none;
    }
}
@media (max-width: 959px){
    .specify .search-bar{
        display: none;
    }
}
@media only screen and (min-width: 712px) and (max-width: 768px){
    .search-row .sort{
        display: none !important;
    }
}
@media (max-width: 712px){
    .specify #payment{
        display: none;
    }
}
@media (max-width: 564px){
    .search-row .sort{
        display: none !important;
    }
}
@media (max-width: 466px){
    .specify #price{
        display: none;
    }
}
@media (max-width: 410px){
    .specify #szin{
        display: none;
    }
}