@media only screen and (max-width: 424px){
    .product-box .seller-pic{
        padding: 11px 0px 0px 0px;
        float: left;
        width: 36px;
    }
    .product-box .seller-pic img{
        width: 30px;
        border-radius: 30px;
    }
    .product-box .product-description{
        width: 55%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }
    .product-box .seller{
        font-size: 8px;
        text-transform: uppercase;
        color: #ccc;
    }
}     /* xs */

@media only screen and (min-width: 425px) and (max-width: 550px){
    .product-box .seller{
        font-size: 10px;
        text-transform: uppercase;
        color: #ccc;
    }
    .product-box .product-description {
        width: 65%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }
}     /* xs */

@media only screen and (min-width: 551px) and (max-width: 767px){
    .product-box .seller{
        font-size: 16px;
    }
}     /* xs */

@media only screen and (min-width: 768px) and (max-width: 1100px){
    .col-sm-4-custom{
        width: 33.33333333%
    }
    .product-box .seller{
        font-size: 15px;
        text-transform: uppercase;
        color: #ccc;
    }
}       /* sm */

@media only screen and (min-width: 1101px) and (max-width: 1300px){
    .col-md-3-custom{
        width: 25%;
    }
    .product-box .seller-pic{
        padding: 11px 0px 0px 0px;
        float: left;
        width: 46px;
    }
    .product-box .seller-pic img{
        width: 40px;
        border-radius: 30px;
    }
    .product-box .product-description{
        width: 65%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }
    .product-box .seller{
        font-size: 10px;
        text-transform: uppercase;
        color: #ccc;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
    }
    .product-box .price{
        font-size:16px;
        padding: 5px 0px;
    }
}     /* md */

@media only screen and (min-width: 1301px) and (max-width: 1650px){
    .col-lg-2-custom{
        width: 20%;
    }
    .product-box .seller-pic{
        padding: 11px 0px 0px 0px;
        float: left;
        width: 36px;
    }
    .product-box .seller-pic img{
        width: 30px;
        border-radius: 30px;
    }
    .product-box .product-description{
        width: 75%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }
    .product-box .seller{
        font-size: 10px;
        text-transform: uppercase;
        color: #ccc;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
    }
    .product-box .price{
        font-size:16px;
        padding: 5px 0px;
    }
}        /* lg */

@media only screen and (min-width: 1651px){
    .col-xl-2-custom{
        width: 16.66666667%
    }
    .product-box .seller-pic{
        padding: 11px 0px 0px 0px;
        float: left;
        width: 46px;
    }
    .product-box .seller-pic img{
        width: 40px;
        border-radius: 30px;
    }
    .product-box .product-description{
        width: 75%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }
    .product-box .seller{
        font-size: 14px;
        text-transform: uppercase;
        color: #ccc;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
    }
    .product-box .price{
        font-size:16px;
        padding: 5px 0px;
    }
}        /* xl */

/* ROW LEFT */
@media only screen and (max-width: 1100px){
    .row-wrapper{
        padding-left: 0;
    }
    .bannerhely{
        display: none;
    }
    .widget{
        display: none;
    }
    .row-left{
        padding: 0;
        margin-left: 0;
        position: relative;
        left: 0;
        width: 100%;
    }
    .sidebar-trigger{
        text-align: center;
    }
    .sidebar-content{
        display: none;
    }
    .sidebar a{

    }
    .sidebar a i{

    }
    /*****DropDown*****/
    .sidebar{
        position: relative;
        z-index: 2;
    }
    .sidebar:hover .sidebar-content{
        display: block;
    }
}       /* sm - xs */