@media only screen and (max-width: 870px){
    .giftcards-wrap{
        width: 100%;
    }
    .giftcard{
        float: none;
        margin: 30px auto;
    }
}

@media only screen and (min-width: 1600px){
    .giftcards-wrap{
        width: 830px;
    }
}