/*-------------------------------------------------------------------------------------------*/
/* THEMATIC PRODUCTLIST */
/*-------------------------------------------------------------------------------------------*/
.row-right .row{
    margin: 0;
}
.hidden-xs {
    display: none!important;
}

/*ProductCat Pos*/
.main{
    position: fixed;
    top: 91px;

}
.row-wrapper {
    padding-left: 41px;
}

.sidebar{

}
.sidebar .trigger span{
    margin-right: 5px;
}
.nav-wrap{
    margin: 132px 0 0 0;
}

/*ProductBox*/
.product-box .description{
    height: 49px;
}
.basket{
    display: block;
}
.basket-mobile{
    display: none;
}

.bannerspot-pl{
    margin: 10px 0 0 0;
    height: 250px;
    background-color: #ccc;
}
.bannerspot-fixed-pl{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; top: 90px;
}
.bannerspot-fixed-bottom-pl{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; bottom: 410px;
}

.widget-pl{
    margin: 10px 0 0 0;
    height: 150px;
    background-color: #ccc;
}
.widget-fixed-pl{
    margin: 50px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; top: 345px;
}
.widget-fixed-bottom-pl{
    margin: 48px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; bottom: 250px;
}

.row-right{
    width: 100%;
    padding: 10px 30px 10px 30px;
}

.breadcrumb{
    padding: 5px;
    background-color: transparent;
    list-style: none;
    margin: 0 0 0 0;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb .fa-home{
    margin: 0 10px 0 0;
}
.slash{
    color: #777;
}
.title {
    color: #000000;
    font-weight: normal;
    font-size: 30px;
    font-family: 'Amatica SC', cursive;
    margin: 0 0 10px 0;
}
.specify{
    position:fixed;
    top: 91px;
    left: 65px;
    right: 10px;
    background-color: #F8F8F8;
    z-index: 999;
    padding: 10px 0 5px 0;
    width: 100%;
    padding: 0 5px;
}
.specify:after{
    content: "";
    display: table;
    clear: both;
}

.cont{
    width: 100%;
}

.category-desc .content{
    text-align:justify;
    font-family: Arial;
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 0 5px;
}
.search-row .content{
    font-family: Arial;
    font-size: 14px;
    margin: 145px 5px 10px 0;
    padding: 0 5px;
}
.search-row .content p{
    margin: 0;
}
.search-row .content a{
    color: #88b048;
}
.search-row .content a:hover{
    color: #006633;
}
.banner-kit{
    padding: 5px;
}
.banner{
    width: 100%;
    background-color: #88b048;
    text-align: center;
    padding: 5px;
}
.banner img{
    width: 250px;
}
.banner h1{
    color: #fff;
    font-size: 30px;
    font-family: 'Amatica SC', cursive;
}
.banner span{
    color: #fff;
}
.product-box .product-description{
    padding: 10px 0 0 0;
    width: 100%;
}

.social{
    margin: 25px 0 0 0;
    text-align: center;
}
.social a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    background-color: #3b5998;
    color: #fff;
}
.social a .fa-facebook-f{
    font-size: 25px;
    margin-right: 5px;
}
.social a span{
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", cursive;
    font-size: 18px;
    font-weight: bold;
}

.recommendations{
    margin: 10px 0 50px 0;
    text-align: center;
}
.recommendations a{
    color: #88b048;
    font-size: 15px;
    font-family: Arial;
}
.recommendations a:hover{
    color: #006633;
}