/*-------------------------------------------------------------------------------------------*/
/* THEMATIC PRODUCTLIST */
/*-------------------------------------------------------------------------------------------*/
.bannerspot-pl{
    margin: 10px 0 0 0;
    height: 250px;
    background-color: #ccc;
}
.bannerspot-fixed-pl{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; top: 90px;
}
.bannerspot-fixed-bottom-pl{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; bottom: 410px;
}

.widget-pl{
    margin: 10px 0 0 0;
    height: 150px;
    background-color: #ccc;
}
.widget-fixed-pl{
    margin: 50px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; top: 345px;
}
.widget-fixed-bottom-pl{
    margin: 48px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; bottom: 250px;
}

.breadcrumb{
    padding: 5px;
    background-color: transparent;
    list-style: none;
    margin: 0 0 0 0;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb .fa-home{
    margin: 0 10px 0 0;
}
.title {
    color: #000000;
    font-weight: normal;
    font-size: 30px;
    font-family: 'Amatica SC', cursive;
    margin: 0 0 10px 0;
}
.specify{
    position:fixed;
    top: 91px;
    left: 255px;
    right: 10px;
    background-color: #F8F8F8;
    z-index: 999;
    padding: 0 0 5px 0;
}
.specify:after{
    content: "";
    display: table;
    clear: both;
}

.cont{
    width: 100%;
}

.category-desc{
    margin: 170px 5px 0 5px;
}
.category-desc .content{
    text-align:justify;
    font-family: Arial;
    font-size: 14px;
}
.specify .content{
    font-family: Arial;
    padding: 0 0 0 10px;
}
.specify .content p{
    margin: 0;
}
.specify .content a{
    color: #88b048;
}
.specify .content a:hover{
    color: #006633;
}

.product-box .product-description{
    padding: 10px 0 0 0;
}

.social{
    margin: 25px 0 0 0;
}
.facebook-share{
    background-color: #3B5998;
    width: 200px;
    height: 50px;
    line-height: 40px;
    margin: auto;
    text-align: center;
}
.facebook-share a{
    display: block;
}
.facebook-share .fa-facebook-f{
    font-size: 20px;
    color: #fff;
    margin: 0 5px 0 0;
}
.facebook-share span{
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.recommendations{
    margin: 10px 0 0 0;
    text-align: center;
}
.recommendations a{
    color: #88b048;
}
.recommendations a:hover{
    color: #006633;
}