.lb-nav a.lb-next {
	background-image: url(/bootstrap/svg/arrow-next.svg);
    background-repeat: no-repeat;
	background-position: right 15px top 48%;
	background-size: 30px;
}
.lb-nav a.lb-prev {
	background-image: url(/bootstrap/svg/arrow-prev.svg);
    background-repeat: no-repeat;
	background-position: left 15px top 48%;
	background-size: 30px;
}