@font-face{
font-family:"MyriadPro";
src:url(fonts/MyriadPro-Regular.otf) format("opentype");
}
@font-face{
font-family:"MyriadProBold";
src:url(fonts/MyriadPro-Bold.otf) format("opentype");
}
body{
	margin:0px;
	padding:0px;
}
#container{
	width:100%;
	padding:0px;
	margin:0px;
}
/* TOP NAV */
#nav{
	width:80%;
	padding:0 10% 0 10%;
}

#topnav1{
	background:#fff;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	
}
#topnav1 li{
	float:left;
	font-family:MyriadPro;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
#topnav1 a{
	background:#fff;
	color:#000;
	display:block;
	float:left;
	margin:0;
	padding:8px 12px;
	text-decoration:none;
	font-size:14px;
}
#topnav1 a:hover{
	background: #fff;
	color:#C0A062;
	padding-bottom:8px;
}
#topnav2{
	background:#fff;
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	
}
#topnav2 li{
	float:left;
	font-family:MyriadPro;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
#topnav2 a{
	background:#fff;
	color:#000;
	display:block;
	float:left;
	margin:0;
	padding:8px 12px;
	text-decoration:none;
	font-size:14px;
}
#topnav2 a:hover{
	background: #fff;
	color:#C0A062;
	padding-bottom:8px;
}
/* LOGO */
#logo{
	width:80%;
	height:140px;
	padding:0 10% 0 10%;
	background-color:rgba(192,192,192,0.5);
	background-image:url(img/logo_bg.png);
	background-repeat:no-repeat;
	background-position:top center;
}
#logo img{
	margin:0 auto 0 auto;
	position:relative;
	top:-20px;
}
/* BOTTOM NAV */
#nav2{
	width:80%;
	padding:0 10% 0 10%;
	background-color:#C0A062;
}
#bottomnav, .nav, #bottomnav .nav li{
	margin:0;
	padding:0 0 0 0;
}
#bottomnav li{
	float:left;
	display:inline;
	cursor:pointer;
	list-style:none;
	padding:30px 1% 10px 1%;
	position:relative;
	text-align:center;
}
#bottomnav li ul.first{
	left:-1px;
	top:100%;
}
li, li a{
	font-family:MyriadPro;
	font-size:18px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
}

#bottomnav .nav li{ /* SUBMENU */
	width:100%;
	text-indent:10px;
	line-height:30px;
	margin-right:10px;
	background:#C0A062;
}
#bottomnav li a{
	display:block;
	width:inherit;
	height:inherit;
}
ul.nav{
	display:none;
}
#bottomnav li:hover > a, #bottomnav li:hover{
	color:#000;
}
li:hover > .nav{
	display:block;
	position:absolute;
	width:200px;
	top:2px;
	left:50%;
	z-index:1000;
}
li:hover{
	position:relative;
	z-index:2000;
}
/* SLIDER */
#slider{
    width: 100%;
    height:470px;
    overflow: hidden;
}
#slider .slides{
    display: block;
    width: 6000px;
    height: 470px;
    margin: 0;
    padding: 0;
}
#slider .slide{
    float: left;
    list-style-type: none;
    width: 100%;
    height: 470px;
}
.slide1{
	background-image:url(img/slide.png);
}
.slide2{
	background-image:url(img/slide.png);
}
.slide_title{
	font-family:MyriadProBold;
	font-size:48px;
	position:relative;
	left:15vw;
	top:70%;
}
.slide_text{
	font-family:MyriadPro;
	font-size:18px;
	position:relative;
	left:23vw;
	top:75%;
}
/* KIEMELT */
#kiemelt{
	width:80%;
	padding:0 10% 0 10%;
	background-color:#F7F7F7;
	margin:0 0 30px 0;
}
.kiemelt_post{
	width:31%;
	float:left;
	padding:2% 2% 2% 0;
	margin: 0 0 30px 0;
	text-align:center;
}
.kiemelt_post img{
	width: 98%;
}
.hirek_title{
	font-family:MyriadProBold;
	font-size:16px;
	text-transform:uppercase;
	
}
.hirek_date{
	font-family:MyriadPro;
	font-size:12px;
	color:#B6B6B6;
}
.hirek_genre{
	font-family:MyriadPro;
	font-size:12px;
	color:#B6B6B6;
}
.hirek_con{
	font-family:MyriadPro;
	font-size:12px;
	color:#000;
}
.hir_link{
	text-decoration:none;
	font-family:MyriadProBold;
	font-size:16px;
	color:#C0A062;
	text-transform:uppercase;
}
.hir_link:hover{
	color:#000;
}
/* HÍREK */
#hirek{
	width:80%;
	padding:0 10% 0 10%;
}
.topic_title{
	font-family:MyriadProBold;
	font-size:36px;
	color:#000;
	text-transform:uppercase;
	text-align:center;
}
.hirek_oszlop{
	float:left;
	width:48%;
	margin:0 2% 0 0;
}
.hirek_post{
	padding:15px 15px 15px 0;
}
#hirek_lapozo{
	text-align:center;
	margin:30px 0 30px 0;
}
#hirek_lapozo a{
	font-family:MyriadPro;
	font-size:12px;
	color:#B6B6B6;
	text-transform:uppercase;
	text-decoration:none;
	display:block inline;
	padding: 5px 15px 5px 15px;
}
#hirek_lapozo a:hover{
	color:#000;
	background-color:#C0A062;
}
/* GALÉRIA */
#galeria{
	width:80%;
	padding:30px 10% 0 10%;
	background-color:#F7F7F7;
}
.galeria_post{
	width:31%;
	float:left;
	padding:2% 2% 2% 0;
	margin: 0 0 30px 0;
	text-align:center;
}
.galeria_post img{
	width:98%;
}
.galeria_title{
	font-family:MyriadProBold;
	font-size:16px;
	color:#C0A062;
	text-transform:uppercase;
	text-decoration:none;
}
.galeria_title:hover{
	font-family:MyriadProBold;
	font-size:16px;
	color:#000;
	text-transform:uppercase;
}
/* NAPTÁR */
#naptar{
	width:80%;
	padding:30px 10% 30px 10%;
	background-color:rgba(192,192,192,0.5);
	background-image:url(img/logo_bg.png);
	background-repeat:no-repeat;
	background-position:top center;
}
#naptar_month{
	text-align:center;
	font-family:MyriadProBold;
	font-size:20px;
	color:#C0A062;
}
#naptar_month a{
	text-decoration:none;
	font-size:30px;
	color:#C0A062;
	margin:0 50px 0 50px;
}
#naptar_month a:hover{
	color:#000;
}
#naptar_vonal{
	width:775px;
	margin:30px auto 30px auto;
}
.naptar_vonal_sav{
	
}
.naptar_vonal_rekord{
	width:25px;
	height:25px;
	float:left;
	font-family:MyriadPro;
	color:#000;
	text-align:center;
}
.naptar_vonal_rekord a{
	text-decoration:none;
	display:block;
	color:#fff;
	background-color:#C0A062;
	padding:0;
	margin:2px;
}
.naptar_vonal_rekord a:hover{
	background-color:#fff;
	color:#000;
}
.naptar_vonal_rekord_b{
	width:25px;
	height:25px;
	float:left;
	background-image:url(img/naptar_vonal.png);
}
/* TÁMOGATÓK */
#tamogatok{
	width:80%;
	padding:30px 10% 30px 10%;
	text-align:center;
}
#tamogatok img{
	width:10%;
}
/* FOOTER */
#footer{
	width:80%;
	padding:30px 10% 0 10%;
	background-color:#C0A062;
}
#footer_top{
	margin:0 0 30px 0;
}
.footer_oszlop{
	float:left;
	margin:0 50px 0 0;
}
.footer_title{
	font-family:MyriadProBold;
	font-size:16px;
	color:#000;
	text-transform:uppercase;
}
.footer_con{
	font-family:MyriadPro;
	Font-size:12px;
	color:#000;
	text-decoration:none;
}
.footer_con:hover{
	text-decoration:underline;
}
#footer_bottom{
	border-top:1px solid #fff;
	padding:20px 0px 20px 0px;
}
.footer_bottom_con{
	font-family:MyriadPro;
	font-size:12px;
	color:#fff;
	margin:0 50px 0 0;
}
.footer_bottom_con_a{
	font-family:MyriadPro;
	font-size:12px;
	color:#fff;
	margin:0 50px 0 0;
	text-decoration:none;
}
.footer_bottom_con_a:hover{
	font-family:MyriadPro;
	font-size:12px;
	color:#000;
	margin:0 50px 0 0;
}
/* CLEAR */
.clear{
	clear:both;
}
/* MOBIL VERSION */
@media only screen
and (max-width : 540px)
{
	#slider{
		display:none;
	}
}