/* Dosis */
@font-face{
    font-family:"Dosis";
    src:url(/assets/fonts/Dosis-Regular.otf) format("truetype");
}

/* Open Sans Condensed */
@font-face{
    font-family:"Open Sans Condensed";
    src:url(/assets/fonts/OpenSans-CondLight.ttf) format("truetype");
}

/* Open Sans */
@font-face{
    font-family:"Open Sans";
    src:url(/assets/fonts/OpenSans-Regular.ttf) format("truetype");
}