/****************************************************************************************************************/
/********** TOPNAV **********/
/****************************************************************************************************************/
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .topnav .header .right{
        display: none;
    }
    .topnav .header .burger{
        display: block;
    }
    .topnav .cat{
        display: none !important;
    }
} /*kereső+burger*/
@media only screen and (max-width: 599px){
    .topnav .header .left #search-form{
        display: none;
    }
    .topnav .header .right{
        display: none;
    }
    .topnav .header .burger{
        display: block;
    }
    .topnav .cat{
        display: none !important;
    }
} /*burger*/

/****************************************************************************************************************/
/********** PRODUCT BOX **********/
/****************************************************************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 1350px){
    .basket{
        display: none;
    }
    .basket-mobile{
        display: block;
    }
}
@media only screen and (min-width: 1200px){
    .col-xl-2-custom{
        width: 20%;
        max-width: 20%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1150px){
    .basket{
        display: none;
    }
    .basket-mobile{
        display: block;
    }
}