/***********************************************************************************************/
/********** TOPNAV **********/
/***********************************************************************************************/
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .topnav .header .right{
        display: none;
    }
    .topnav .header .burger{
        display: block;
    }
    .topnav .cat{
        display: none !important;
    }
} /*kereső+burger*/
@media only screen and (max-width: 599px){
    .topnav .header .left #search-form{
        display: none;
    }
    .topnav .header .right{
        display: none;
    }
    .topnav .header .burger{
        display: block;
    }
    .topnav .cat{
        display: none !important;
    }
} /*burger*/

/***********************************************************************************************/
/********** PRODUCTLIST **********/
/***********************************************************************************************/
@media only screen and (max-width: 424px){
    .cont{
        width: 100%;
    }
    .col-xs-6-custom{
        width: 50%;
    }
    .breadcrumb-meskahu{
        display: none;
    }
    .sort button{
        display: none;
    }

    .product-box .seller{
        font-size: 12px;
        text-transform: uppercase;
    }
    .product-box .description{
        height: 70px;
        font-size: 14px;
        height: 65px;
    }
    .product-box .product-description{
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
    .product-box .price{
        font-size: 27px;
        padding: 0;
    }
    .basket-mobile{
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    .seller-pic{
        display: none;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }
}     /* xs */
@media only screen and (min-width: 425px) and (max-width: 485px){
    .col-xs-6-custom{
        width: 50%;
    }
    .product-box .price{
        font-size: 30px;
    }
}     /* xs */
@media only screen and (min-width: 425px) and (max-width: 550px){
    .col-xs-6-custom{
        width: 50%;
    }
    .breadcrumb-meskahu{
        display: none;
    }
    .product-box .seller{
        font-size: 17px;
        text-transform: uppercase;
    }
    .product-box .description{
        height: 70px;
        font-size: 14px;
        height: 65px;
    }
    .product-box .product-description {
        width: 100%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }
    .seller-pic{
        display: none;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }
}     /* xs */
@media only screen and (min-width: 551px) and (max-width: 767px){
    .col-xs-6-custom{
        width: 50%;
    }
    .product-box .seller{
        font-size: 26px;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }
}     /* xs */
@media only screen and (min-width: 768px) and (max-width: 1100px){
    .col-sm-4-custom{
        width: 33.33333333%
    }
    .product-box .seller{
        font-size: 24px;
        text-transform: uppercase;
    }
}       /* sm */
@media only screen and (min-width: 1101px) and (max-width: 1300px){
    .col-md-3-custom{
        width: 25%;
    }
    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 65px;
    }
    .product-box .price{

        padding: 5px 0px;
    }
    .product-box .basket{
        margin: 14px 0 11px 0;
    }
}     /* md */
@media only screen and (min-width: 1301px) and (max-width: 1650px){
    .col-lg-2-custom{
        width: 20%;
    }
    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 70px;
    }
}        /* lg */
@media only screen and (min-width: 1651px){
    .col-xl-2-custom{
        width: 16.66666667%
    }
    .product-box .seller{
        font-size: 14px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:20px;
        padding: 5px 0px;
        height: 90px;
    }
    .product-box .price{
        padding: 5px 0px;
    }

    /*BANNER/WIDGET*/
    .widget-fixed-bottom{
        margin: 48px 0 0 0;
        height: 150px;
        background-color: #ccc;
        position: fixed; top: 359px;
    }
    .bannerhely-fixed-bottom{
        margin: 48px 0 0 0;
        height: 250px;
        background-color: #ccc;
        position: fixed; top: 99px;
    }
}        /* xl */

/* MOBILE SEARCH ROW */
@media (max-width: 1200px){
    .search-row{
        display: block;
    }
    .search-row-mobile{
        display: block;
        width: 220px;
        margin: 0 0 0 10px;
    }
}
@media only screen and (min-width: 1155px) and (max-width: 1199px){
    .search-row .search-bar{display: none;}
}
@media only screen and (min-width: 1065px) and (max-width: 1154px){
    .search-row .search-bar{display: none;}
    .search-row #misc{display: none;}
}
@media only screen and (min-width: 1000px) and (max-width: 1064px){
    .search-row .search-bar{display: none;}
    .search-row #misc{display: none;}
    .search-row #price{display: none;}

}
@media only screen and (min-width: 925px) and (max-width: 999px){
    .search-row .search-bar{display: none;}
}
@media only screen and (min-width: 825px) and (max-width: 924px){
    .search-row .search-bar{display: none;}
    .search-row #misc{display: none;}
}
@media only screen and (min-width: 757px) and (max-width: 824px){
    .search-row .search-bar{display: none;}
    .search-row #misc{display: none;}
    .search-row #price{display: none;}
}
@media only screen and (min-width: 616px) and (max-width: 756px){
    .search-row .search-bar{display: none;}
    .search-row #misc{display: none;}
    .search-row #price{display: none;}
    .search-row #szin{display: none;}
}
@media only screen and (min-width: 425px) and (max-width: 616px){
    .search-row .search-bar{display: none;}
    .search-row #misc{display: none;}
    .search-row #price{display: none;}
    .search-row #szin{display: none;}
    .search-row #technika{display: none;}

    .search-row-mobile #price{display: none !important;}
}
@media only screen and (max-width: 425px){
    .search-row .search-bar{display: none;}
    .search-row #misc{display: none;}
    .search-row #price{display: none;}
    .search-row #szin{display: none;}
    .search-row #technika{display: none;}
    .search-row .sort{display: none;}

    .search-row-mobile #price{display: none !important;}
}

/* ROW LEFT */
@media only screen and (max-width: 1100px){
    .bannerhely-pl, .widget-pl, .bannerhely-fixed-pl, .widget-fixed-pl, .bannerhely-fixed-bottom-pl, .widget-fixed-bottom-pl,
    .bannerhely-mp, .widget-mp, .bannerhely-fixed-mp, .widget-fixed-mp, .bannerhely-fixed-bottom-mp, .widget-fixed-bottom-mp{
        display: none;
    }
}       /* sm - xs */
/* NAVBAR DISPLAY */
@media (max-width: 1000px){
    .hidden-xs {
        display: none!important;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;

    }
    .row-wrapper {
        padding-left: 41px;
    }
    .row-left {
        position: absolute;
        left: 41px;
    }

    .nav-wrap{
        margin: 90px 0 0 0;
    }
    .sidebar{

    }
    .sidebar .trigger span{
        margin-right: 5px;
    }

    .specify{
        position: fixed;
        top: 50px;
        left: 41px;
        width: 93%;
    }

    /*ProductBox*/
    .product-box .description{
        height: 49px;
    }
    .basket{
        display: none;
    }
    .basket-mobile{
        display: block;
    }
    /*ask*/
    .ask{
        width: 280px;
        font-size: 14px;
    }
    .ask .back, .ask #accordion .card-header a{
        font-size: 14px;
    }
    .ask #accordion textarea{
        height: 100px;
    }

    /*showmore*/
    .show-more{
        font-size: 14px;
    }
}
/* NAVBAR FIX */
@media only screen and (min-width: 768px) and (max-width: 941px){
    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;
    }
    .nav-wrap{
        margin: 90px 0 0 0;
    }

    .navbar{
        max-height: 53px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px){
    .specify{
        position: fixed;
    }
}

/***********************************************************************************************/
/********** MAINPAGE **********/
/***********************************************************************************************/
@media only screen and (max-width: 424px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    /*benefits*/
    .benefits-text {
        position: relative;
        top: -105px;
        left: 140px;
    }
    /*product-box*/
    .product-box .seller{
        font-size: 12px;
        text-transform: uppercase;
    }
    .product-box .description{
        height: 70px;
        font-size: 14px;
        height: 65px;
    }
    .product-box .product-description{
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
    .product-box .price{
        font-size: 27px;
        padding: 0;
    }
    .basket-mobile{
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }

    /*Numbers*/
    .numbers-row ul > li.column{
        border-right: 0;
        border-bottom: 0;
    }
    .numbers-row ul > li.column:last-of-type{
        border-bottom: 0;
    }

    /*Benefits*/
    .benefits{
        width: 100% !important;
        margin: 0 0 50px 0;
    }

    .button {
        width: 250px;
    }
    /*newsletter*/
    .newsletter form .input-text {
        margin: 0 0 15px 0;
    }
}     /* xs */
@media only screen and (min-width: 425px) and (max-width: 485px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    .benefits-text {
        position: relative;
        top: -105px;
        left: 200px;
    }
    /*product-box*/
    .product-box .price{
        font-size: 30px;
    }
    /*newsletter*/
    .newsletter form .input-text {
        margin: 0 0 15px 0;
    }
}     /* xs */
@media only screen and (min-width: 425px) and (max-width: 550px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    .benefits-text {
        position: relative;
        top: -105px;
        left: 230px;
    }
    /*product-box*/
    .product-box .seller{
        font-size: 17px;
        text-transform: uppercase;
    }
    .product-box .product-description {
        width: 65%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }

    /*Numbers*/
    .numbers-row ul > li.column{
        border-right: 0;
        border-bottom: 0;
    }
    .numbers-row ul > li.column:last-of-type{
        border-bottom: 0;
    }

    /*Benefits*/
    .benefits{
        width: 100% !important;
        margin: 0 0 50px 0;
    }
}     /* xs */
@media only screen and (min-width: 551px) and (max-width: 767px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 230px;
    }
    /*product-box*/
    .product-box{
        min-height: 365px;
    }
    .product-box .seller{
        font-size: 26px;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }

    /*Numbers*/
    .numbers-row ul > li.column{
        border-right: 0;
        border-bottom: 0;
    }
    .numbers-row ul > li.column:last-of-type{
        border-bottom: 0;
    }

    /*Benefits*/
    .benefits{
        width: 100% !important;
        margin: 0 0 50px 0;
    }
}     /* xs */
@media only screen and (min-width: 768px) and (max-width: 1100px){
    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 16px;
        color: #333;
        position: relative;
        top: -105px;
        left: 80px;
    }
    .col-sm-4-custom{
        width: 33.33333333%
    }
    .product-box .seller{
        font-size: 24px;
        text-transform: uppercase;
    }
}       /* sm */
@media only screen and (min-width: 1101px) and (max-width: 1300px){
    .col-md-3-custom{
        width: 25%;
    }
    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 65px;
    }
    .product-box .price{
        padding: 5px 0px;
        font-size: 28px;
    }
    .product-box .basket{
        margin: 14px 0 11px 0;
    }
}     /* md */
@media only screen and (min-width: 1301px) and (max-width: 1650px){
    .col-lg-2-custom{
        width: 20%;
    }

    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 70px;
    }
}        /* lg */
@media only screen and (min-width: 1651px){
    .col-xl-2-custom{
        width: 20%
    }
    .product-box .seller{
        font-size: 14px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:20px;
        padding: 5px 0px;
        height: 90px;
    }
    .product-box .price{
        padding: 5px 0px;
    }

    /*BANNER/WIDGET*/
    .widget-fixed-bottom{
        margin: 48px 0 0 0;
        height: 150px;
        background-color: #ccc;
        position: fixed; top: 359px;
    }
    .bannerhely-fixed-bottom{
        margin: 48px 0 0 0;
        height: 250px;
        background-color: #ccc;
        position: fixed; top: 99px;
    }
}        /* xl */
/* ROW LEFT */
@media only screen and (max-width: 1100px){
    .bannerhely, .widget, .bannerhely-fixed, .widget-fixed, .bannerhely-fixed-bottom, .widget-fixed-bottom {
        display: none;
    }
}       /* sm - xs */
/* NAVBAR DISPLAY */
@media (max-width: 1000px){
    .hidden-xs {
        display: none!important;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;

    }
    .row-wrapper {
        padding-left: 35px;
    }
    .row-left {
        position: absolute;
        left: 41px;
        top: 90px;
    }

    .nav-wrap{
        margin: 0;
    }
    .sidebar{

    }
    .sidebar .trigger span{
        margin-right: 5px;
    }

    .specify{
        position: fixed;
        top: 50px;
        left: 35px;
    }

    .row-right{
        margin: 40px 0 0 0;
    }

    /*ProductBox*/
    .product-box .description{
        height: 49px;
    }
    .basket{
        display: none;
    }
    .basket-mobile{
        display: block;
    }
}
/* SEARCH DISPLAY */
@media (max-width: 767px){
    .top-search{
        display: none;
    }
}
/* NAVBAR FIX */
@media only screen and (min-width: 768px) and (max-width: 941px){
    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;
    }
    .nav-wrap{
        margin: 0;
    }

    .navbar{
        max-height: 53px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px){
    .specify{
        position: fixed;
    }
}
/* NUMBERS */
@media only screen and (min-width: 768px) and (max-width: 848px){
    .number-container .number-details{
        height: 32px;
    }
}
/* BENEFITS */
@media only screen and (min-width: 551px) and (max-width: 600px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 140px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 650px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 150px;
    }
}
@media only screen and (min-width: 651px) and (max-width: 700px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 160px;
    }
}
@media only screen and (min-width: 701px) and (max-width: 767px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 170px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1000px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 110px;
    }
}

/***********************************************************************************************/
/********** FAQ **********/
/***********************************************************************************************/
@media(min-width:992px) {
    .row.md-no-gutter>[class*='col-']:last-of-type:not(:only-of-type) {
        padding-left: 0;
    }
}
@media(max-width:991px) {
    .image-container.sm-6>img,
    .image-container.sm-6 a{
        width: 15%;
    }
}
@media(max-width:767px) {
    .image-container.xs-4>img,
    .image-container.xs-4 a{
        width: 23.5%;
    }
}
@media(min-width:1160px) {
    .to-basket-def {
        display: inline-block;
    }
}
@media(max-width:991px) {
    .sm-no-margin{
        margin: 0 !important;
    }
    .sm-margin-top-10{
        margin-top: 15px;
    }
    .sm-margin-top-15{
        margin-top: 15px;
    }
}
@media(min-width:992px) {
    .md-margin-top-10{
        margin-top: 10px;
    }
}
@media(max-width:767px) {
    .xs-no-float{
        float: none !important;
    }
    .xs-no-margin{
        margin: 0 !important;
    }
    .xs-margint10{
        margin-top:10px;
    }
    .faq-type-nav{

    }
    .faq-type-nav li{
        padding:5px;
    }
    .faq-type-nav li.active{
        border-top:0;
        margin:3px 0 0 0;
    }
    .faq-type-nav li.active a{
        color: #fff;
        background-color: #007733;
    }
    .faq-type-nav li a{
        display: block;
        color: #fff;
        padding: 8px;
        margin: 5px 0;
        border-radius: 5px;
        background-color: #006633;
    }
}
@media only screen and (max-width:650px){
    .searchbar{
        width:300px;
    }
    .searchbar img{
        width:20px;
        position:relative;
        top:35px;
        opacity:0.3;
    }
    #search-button{
        position: relative;
        top: -40px;
        left: 219px !important;
    }
}
@media only screen and (max-width:767px){
    .navbar-header{
        border-bottom:1px solid #999;
    }
}
@media only screen and (max-width:767px){
    .faq-nav li a{
        display:block;
        color: #fff;
        padding: 8px;
        margin:5px 0;
        border-radius: 5px;
        background-color:#006633;
    }

    .faq-nav li a.active, .faq-nav li a.active:hover {
        background-color: #007733;
        color:#fff;
    }
    .faq-nav li a:hover {
        background-color: #005533;
        color: #fff;
    }


}