/***********************************************************************************************/
/********** TOPNAV **********/
/***********************************************************************************************/
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .topnav .header .right{
        display: none;
    }
    .topnav .header .burger{
        display: block;
    }
    .topnav .cat{
        display: none !important;
    }
} /*kereső+burger*/
@media only screen and (max-width: 599px){
    .topnav .header .left #search-form{
        display: none;
    }
    .topnav .header .right{
        display: none;
    }
    .topnav .header .burger{
        display: block;
    }
    .topnav .cat{
        display: none !important;
    }
} /*burger*/