*{
    outline: none;
}
body{
    background-color: #F8F8F8;
}

/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - SIDEBAR */
/*-------------------------------------------------------------------------------------------*/
.row{
    padding:0;
}
.row-wrapper{
    padding-left: 250px;
    width: 100%;
}
.row-left{
    padding: 0;
    margin-left: -250px;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;
}
.normal{
    position: absolute;
    left: 250px;
    transition: left 1s;
}
.mobile{
    position: absolute;
    left: 41px;
    transition: left 1s;
}


.row-right{
    width: 100%;
    padding: 10px;
}

.sidebar{
    float: left;
    height: 100%;
    padding: 0;
    border-right: 1px solid #ccc;
}
.sidebar-content{
    margin: 0;
    padding: 0;
}
.sidebar .trigger{
    background-color: #88B04B;
    border: 0;
    border-top: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 5px 10px 15px;
    text-align: right;
    outline: none;
    cursor: pointer;
}
.sidebar .trigger:hover, .sidebar .trigger:active, .sidebar .trigger:focus,
.sidebar .trigger.hover, .sidebar .trigger.active, .sidebar .trigger.focus{
    background-color: #336600;
    border: 0;
    border-top: 1px solid #ccc;
    outline: none;
}
.sidebar .trigger img{
    margin: -2px 2px -2px 5px;
    width: 25px;
    height: 25px;
    float: right;
}
.sidebar .trigger span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Open Sans";
}

.subnav a{
    width: 100%;
    float: right;
    text-align: right;
    background-color: #7b9f2e;
    color: #fff;
    padding: 5px 25px 5px 5px;
    font-family: "Open Sans";
    font-size: 12px;
    border-top: 1px solid #ccc;
}
.subnav a:hover{
    width: 100%;
    float: right;
    background-color: #336600;
    color: #fff;
}
.subnav a:last-child{
    border-bottom: 0;
}
.hamburger-menu{
    width: 14px !important;
    height: 16px !important;
    margin: 0 5px 0 5px !important;
}
.main{
    position:fixed;
    top: 90px;
    width: 250px;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
}
.nav-wrap{
    width: 250px;
    margin: 131px 0 0 0;
}
.width-250{
    width: 250px;
}

.trigger .fa-bars{
    margin: 0 7px 0 8px;
}
.subnav .fa-level-down-alt{
    margin: 0 -3px 0 10px;
}
.nav .fa-trophy{
    float: right;
    margin: 2px 5px 0 10px;
}
/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - PRODUCTBOX */
/*-------------------------------------------------------------------------------------------*/
.row-right .row{
    margin-right: -20px;
    margin-left: -10px;
}
.products{
    width: 50%;
}
.product-box{
    background-color: #fff;
    padding: 9px 11px 0px 11px;
    max-width: 322px;
    cursor: pointer;
}
.image-wrap{
    max-width: 300px;
    display: block;
    overflow: hidden;
}
.product-image{
    width: 100%;
    max-width: 300px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.product-box:hover .product-image{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.product-box .seller-pic{
    padding: 11px 0px 0px 0px;
    float: left;
    width: 20%;
    margin: 0 2% 0 0;
}
.product-box .seller-pic img{
    width: 100%;
    border-radius: 30px;
}
.product-box .product-description{
    width: 78%;
    padding: 10px 0px 0px 10px;
    float: left;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.product-box .seller{
    font-family: "Open Sans Condensed";
    font-size: 12px !important;
    text-transform: uppercase;
    color: #a0a0a0;
    letter-spacing: 1px;
}
.product-box .description{
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    font-size:16px;
    color: #000;
    padding: 5px 0px;
    letter-spacing: 1px;
    height: 73px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-box .price{
    font-family: Amatica SC;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    float: left;
    letter-spacing: -2px;
}
.basket{
    float: right;
    position: relative;
    font-family: Open Sans Condensed;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: #88b048;
    border: 1px solid #88b048;
    padding: 8px;
    margin: 11px 0 11px 0;
    border-radius: 3px;
}
.basket-mobile{
    display: none;
    float: right;
    position: relative;
    font-family: Open Sans Condensed;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: #88b048;
    border: 1px solid #88b048;
    padding: 8px;
    margin: 11px 0 11px 0;
    border-radius: 3px;
}

.basket:hover, .basket-mobile:hover{
    color: #fff;
    background-color: #88b048;
    border: 1px solid #88b048;
}

.basket-mobile .far{
    margin: 0;
}
/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - NUMBERS */
/*-------------------------------------------------------------------------------------------*/
.number-wrapper{
    width: 100%;
    margin: 0px auto;
    display: block;
    padding: 0px;
}
ul{
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    -webkit-padding-start: 0px;
    list-style: none;
}
.numbers-row ul{
    margin: 0;
    padding: 0;
}
.numbers-row ul > li.column{
    padding: 0px;
    margin: 0;
    float: left;
}
.numbers-row ul > li.column:last-of-type{
    border-right: 0;
}
.number-container {
    text-align: center;
    color: #333; /*#373D4B;*/
    padding: 30px;
}
.number-container .number{
    font-size: 30px;
    font-weight: 300;
    letter-spacing:1px;
}
.number-container .number-details{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.clear{
    clear: both;
}