*{
    outline: none;
}
body{
    background-color: #F8F8F8;
}
/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - TOPNAV */
/*-------------------------------------------------------------------------------------------*/
.topnav{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 99999;
    width: 100%;
}
.topnav a{
    color: #777;
}
.topnav a:hover{
    text-decoration: none;
}
.topnav .header{
    border-bottom: 1px solid #eee;
    height: 50px;
    padding: 5px;
}
.topnav .header .left{
    float: left;
}
.topnav .header .left .logo{
    float: left;
    padding: 0 0 0 15px;
}
.topnav .header .left .logo img{
    height: 40px;
}
.topnav .header .left .dropdown{
    float: left;
    height: 40px;
    padding: 5px;
    margin: 0 0 0 10px;
}
.topnav .header .left .dropdown img{
    width: 25px;
    margin-top: 5px;
}
.topnav .header .left .dropdown .dropdown-menu{
    position: absolute;
    top: 38px;
    z-index: 99999;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.topnav .header .left .dropdown .btn-secondary{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.topnav .header .left .dropdown .btn-secondary:hover{
    background-color: #eee;
}
.topnav .header .left .dropdown .dropdown-toggle::after{
    color: #666;
}
.topnav .header .left .dropdown .dropdown-menu .dropdown-item{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.topnav .header .left .dropdown .dropdown-menu li a:hover{
    background-color: #eee;
}

.topnav .header .left #search-form{
    float: left;
    margin: 2px 0 0 10px;
    padding: 1px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.topnav .header .left #search-form .input-txt{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 0;
}
.topnav .header .left #search-form input:focus{
    outline: none !important;
}
.topnav .header .left #search-form .input-btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
.topnav .header .right{
    float: right;
}
.topnav .header .right .dropdown{
    float: right;
    line-height: 40px;
    cursor: pointer;
    padding: 0 10px;
    color: #777;
}
.topnav .header .right .dropdown .badge{
    padding: 3px 7px;
    border-radius: 10px;
}
.topnav .header .right .dropdown .dropdown-menu{
    position: absolute;
    top: 38px;
    left: 83px;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 0 5px 5px;
}
.topnav .header .right .dropdown .btn-secondary{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #666;
}
.topnav .header .right .dropdown .btn-secondary:hover{
    background-color: #eee;
}
.topnav .header .right .dropdown .dropdown-toggle::after{
    color: #666;
}
.topnav .header .right .dropdown .dropdown-menu .dropdown-item{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.topnav .header .right .dropdown .dropdown-menu li a:hover{
    background-color: #eee;
}
.topnav .header .right .kosar{
    float: right;
    margin: 8px 10px 10px 10px;
}
.topnav .header .right .kosar a{
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 7px 5px 5px 5px;
}
.topnav .header .right .kosar a:hover{
    color: #333;
}
.topnav .header .right .kosar .badge{
    display: inline-block;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}
.topnav .header .right .kosar .visible-xs-inline-block{
    display: none!important;
}
.topnav .cat .main-cat{
    float: left !important;
    list-style-type: none;
    padding: 9px 15px 7px 15px;
    font-size: 14px;
    color: #777 !important;
}
.topnav .cat .main-cat a{
    color: #777;
}
.topnav .cat .main-cat:first-of-type{
    margin-left: 0px;
}

.topnav .cat li .fa-chevron-right{
    float: right;
    margin-top: 5px;
}
.topnav .cat .main-cat .dropdown-hover-menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    z-index: 999999;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.burger{
    float: right;
    display: none;
}
.burger .btn, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle{
    background-color: #fff;
    color: #666;
    border: 1px solid #666;
}
.burger .dropdown-toggle::after{
    display: none;
}
.burger .fa-bars{
    font-size: 22px !important;
    margin: 0 !important;
}
.burger .dropdown-item{
    background-color: transparent;
    text-align: center;
}
.burger #search-form{
    margin: auto;
    border: 1px solid #aaa;
    padding: 5px;
    width: 300px;
}
.burger #search-form .input-txt{
    padding: 6px 12px 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 0;
}
.burger #search-form .input-btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
.burger .kosar{
    margin: 8px 10px 10px 10px;
}
.burger .kosar a{
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 7px 5px 5px 5px;
}
.burger .kosar a:hover{
    color: #333;
}
.burger .kosar .badge{
    display: inline-block;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}
.burger .kosar .visible-xs-inline-block{
    display: none!important;
}
.burger .dropdown-menu.show{
    position: absolute !important;
    top: 10px !important;
    left: 11px !important;
}

.btn.focus, .btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}
.header:after, .header .left:after, .topnav .cat{
    content: "";
    display: table;
    clear: both;
}

/* FA */
.topnav .fa-bars{
    margin: 0 5px 0 0;
    font-size: 16px;
}
.topnav .fa-envelope{
    margin: 0 5px 0 0 !important;
    font-size: 16px !important;
}
.topnav .fa-sign-out{
    margin: 0 0 0 5px !important;
    font-size: 16px !important;
}
.topnav .fa-shopping-cart{
    margin: 0 0 3px 0;
    font-size: 16px;
}
.topnav .fa-search{
    color: #666;
}
/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - FOOTER */
/*-------------------------------------------------------------------------------------------*/
#footer{
    position: relative;
    z-index: 9999;
}
.page-footer{
    background-color:#8bc34a;
    color:#fff;
    font-size:12px;
}
.page-footer ul{
    padding: 0;
}
.page-footer ul li{
    list-style-type: none;
}
.page-footer h5{
    font-size: 14px;
    margin: 10px 0;
    font-family: "Open Sans", sans-serif;
}
.page-footer a{
    color:#eee;
}
.page-footer img{
    width: 100%;
    max-width: 200px;
}
.footer-copyright{
    background:rgba(0,0,0,0.1);
    padding:25px 0 25px 0;
}
/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - SIDEBAR */
/*-------------------------------------------------------------------------------------------*/
.row{
    padding:0;
}
.row-wrapper{
    padding-left: 250px;
}
.row-left{
    padding: 0;
    margin-left: -250px;
    position: absolute;
    left: 250px;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;
}

.row-right{
    width: 100%;
    padding: 10px;
}

.sidebar{
    float: left;
    height: 100%;
    padding: 0;
    border-right: 1px solid #ccc;
}
.sidebar-content{
    margin: 0;
    padding: 0;
}
.sidebar .trigger{
    background-color: #88B04B;
    border: 0;
    border-top: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 5px 10px 15px;
    text-align: right;
    outline: none;
    cursor: pointer;
}
.sidebar .trigger:hover, .sidebar .trigger:active, .sidebar .trigger:focus,
.sidebar .trigger.hover, .sidebar .trigger.active, .sidebar .trigger.focus{
    background-color: #336600;
    border: 0;
    border-top: 1px solid #ccc;
    outline: none;
}
.sidebar .trigger img{
    margin: -2px 2px -2px 5px;
    width: 25px;
    height: 25px;
    float: right;
}
.sidebar .trigger span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Open Sans";
}

.subnav a{
    width: 100%;
    float: right;
    text-align: right;
    background-color: #a9ce5a;
    color: #fff;
    padding: 5px 25px 5px 5px;
    font-family: "Open Sans";
    font-size: 12px;
    border-top: 1px solid #ccc;
}
.subnav a:hover{
    width: 100%;
    float: right;
    background-color: #336600;
    color: #fff;
}
.subnav a:last-child{
    border-bottom: 0;
}
.hamburger-menu{
    width: 14px !important;
    height: 16px !important;
    margin: 0 5px 0 5px !important;
}
.main{
    position:fixed;
    top: 90px;
    width: 250px;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
}
.nav-wrap{
    width: 250px;
    margin: 130px 0 0 0;
}
.col-md-2-250{
    width: 250px;
}
.col-lg-2-250{
    width: 250px;
}
.col-xl-2-250{
    width: 250px;
}

.trigger .fa-bars{
    margin: 0 7px 0 8px;
}
.subnav .fa-level-down-alt{
    margin: 0 -3px 0 10px;
}
.nav .fa-trophy{
    float: right;
    margin: 2px 5px 0 10px;
}
/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - PRODUCTBOX */
/*-------------------------------------------------------------------------------------------*/
.product-box{
    background-color: #fff;
    padding: 9px 11px 0px 11px;
    max-width: 322px;
    cursor: pointer;
}
.image-wrap{
    max-width: 300px;
    display: block;
    overflow: hidden;
}
.product-image{
    width: 100%;
    max-width: 300px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.product-box:hover .product-image{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.product-box .seller-pic{
    padding: 11px 0px 0px 0px;
    float: left;
    width: 20%;
    margin: 0 2% 0 0;
}
.product-box .seller-pic img{
    width: 100%;
    border-radius: 30px;
}
.product-box .product-description{
    width: 78%;
    padding: 10px 0px 10px 0px;
    float: left;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.product-box .seller{
    font-family: "Open Sans Condensed";
    font-size: 12px !important;
    text-transform: uppercase;
    color: #a0a0a0;
    letter-spacing: 1px;
}
.product-box .description{
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    font-size:16px;
    color: #000;
    padding: 5px 0px;
    letter-spacing: 1px;
    height: 73px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-box .price{
    font-family: Amatica SC;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    padding: 3px 0px 0px 0px;
    float: left;
}
.basket{
    float: right;
    position: relative;
    font-family: Open Sans Condensed;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: #88b048;
    border: 1px solid #88b048;
    padding: 8px;
    margin: 11px 0 11px 0;
    border-radius: 3px;
}
.basket-mobile{
    display: none;
    float: right;
    position: relative;
    font-family: Open Sans Condensed;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: #88b048;
    border: 1px solid #88b048;
    padding: 8px;
    margin: 11px 0 11px 0;
    border-radius: 3px;
}

.basket:hover, .basket-mobile:hover{
    color: #fff;
    background-color: #88b048;
    border: 1px solid #88b048;
}

.basket-mobile .far{
    margin: 0;
}
/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - NUMBERS */
/*-------------------------------------------------------------------------------------------*/
.number-wrapper{
    width: 100%;
    margin: 0px auto;
    display: block;
    padding: 0px;
}
ul{
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    -webkit-padding-start: 0px;
    list-style: none;
}
.numbers-row ul{
    margin: 0;
    padding: 0;
}
.numbers-row ul > li.column{
    padding: 0px;
    margin: 0;
    float: left;
}
.numbers-row ul > li.column:last-of-type{
    border-right: 0;
}
.number-container {
    text-align: center;
    color: #333; /*#373D4B;*/
    padding: 30px;
}
.number-container .number{
    font-size: 30px;
    font-weight: 300;
    letter-spacing:1px;
}
.number-container .number-details{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.clear{
    clear: both;
}

/*-------------------------------------------------------------------------------------------*/
/* PRODUCTLIST */
/*-------------------------------------------------------------------------------------------*/
.bannerhely-pl{
    margin: 10px 0 0 0;
    height: 250px;
    background-color: #ccc;
}
.bannerhely-fixed-pl{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; top: 90px;
}
.bannerhely-fixed-bottom-pl{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; bottom: 410px;
}

.widget-pl{
    margin: 10px 0 0 0;
    height: 150px;
    background-color: #ccc;
}
.widget-fixed-pl{
    margin: 50px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; top: 345px;
}
.widget-fixed-bottom-pl{
    margin: 48px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; bottom: 250px;
}

.breadcrumb{
    padding: 5px;
    background-color: transparent;
    list-style: none;
    margin: 0 0 0 0;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb .fa-home{
    margin: 0 10px 0 0;
}
.title {
    color: #000000;
    font-weight: normal;
    font-size: 30px;
    font-family: 'Amatica SC', cursive;
    margin: 0;
}
.specify{
    position:fixed;
    top: 91px;
    left: 260px;
    right: 10px;
    background-color: #F8F8F8;
    border-bottom: 2px solid #F8F8F8;
    z-index: 999;
    margin: 0 5px 0 5px;
    padding: 0 0 5px 0;
}

.btn-default{
    padding: 3px 12px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-size: 14px;
    height: 28px;
    color: #444;
}
.btn-default:hover {
    background-color: transparent;
}
.button-search{
    margin: 3px 20px;
    padding: 5px;
    outline: none;
}

/*SELECT2*/
.search-row #technika .select2-container{
    width: 220px !important;
}
.search-row-mobile #technika .select2-container{
    width: 100% !important;
    text-align: center;
}
.search-row-mobile #szin .select2-container{
    width: 100% !important;
    text-align: center;
}
.search-row .btn-group{
    height: 28px;
}
.search-row .btn-group .svg-inline--fa{
    width: 20px;
}
.color{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    float: left;
    margin: 0 5px 0 0;
}

.price-range{
    width: 500px;
    padding: 10px;
}

.keresesi-szempontok{
    background-color: #fff;
    font-size: 12px;
    padding: 7px 10px;
    margin: 5px 0 0 0;
    float: left;
    width: 100%;
    display: none;
    display: none;
}
.keresesi-szempontok .trashcan{
    font-size: 16px;
    width: 15px;
    height: 15px;
    margin: 5px 0 0 0;
    float: right;
}
.keresesi-szempontok .trashcan:hover{
    color: red;
}
.szempont{
    display: inline-block;
    background-color: #eee;
    color: #999;
    padding: 2px 5px;
    font-size: 12px;
    /*position: relative; bottom: 2px;*/
    border-radius: 5px;
}
.szempont:hover{
    background-color: #88B04B;
    color: #fff;
}
.szempont img{
    width: 7px;
    position: relative; bottom: 1px;
    margin: 0 0 0 5px;
    opacity: 0.5;
}
.specify .search-bar{
    float: right;
    background-color: #fff;
    padding: 2px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;

}
.specify .search-bar .fa-search{
    color: #666;
}
.specify .search-bar #search-bar{
    border: 0;
    outline: none;
}
.search-row .sort{
    margin: 0px 5px 0px 0px;
    display: none;
    float: right;
}
.search-row .sort .far{
    width: 10px;
}
.keywords .sort{
    float: right;
    margin: 0px 0px 0px 10px;
}
.keywords .svg-inline--fa{
    width: 20px;
}
/*
.keywords .sort .fa-arrow-to-top, .keywords .sort .fa-arrow-to-bottom{
    margin: 0 13px 0 3px;
}
.keywords .sort .fa-recycle{
    margin: 0 12px 0 0;
}
*/
.cont{
    margin: 150px 0 0 0;
    width: 100%;
}

.keywords{
    float: left;
    margin: 100px 5px 0 5px;
}
.keywords-box{
    float: left;
    width: 74%;
}
.keywords b{
    font-size: 12px;
}
.keyword{}
.keyword a{
    font-size: 12px;
    text-decoration: underline;
    color: #333;
}
.keyword a:hover{
    color: #000;
    text-decoration: none;
}

.search-row-mobile{
    display: none;
}
.search-row-mobile-content{
    display: none;
}
.dropdown-menu{
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    min-width: 170px;
    padding: 5px 10px;
    margin: 2px 10px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
}
.dropdown-menu input{
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
}
.dropdown-menu>li>a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu .svg-inline--fa{
    font-size: 16px;
    margin: 0 10px 0 0;
}

.btn-group #technika{
    overflow: scroll;
    height: 400px;
}
.btn-group #szin{
    overflow: scroll;
    height: 400px;
}

.btn-group #szin .select2-results {
    width: 200px;
    background-color: #fff;
}

.btn-group .btn {
    padding: 3px 12px;
    border: 1px solid #aaa;
    background-color: #fff;
    color: #444;
}

.open > .dropdown-menu-2{
    display: block;
}
.dropdown-menu-2{
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu-2>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu-2>li>a:focus, .dropdown-menu-2>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.keresesi-szempontok-visible, .kereso-visible{
    display: block;
}

.page-select{
    text-align: center;
    margin: 25px auto 0 auto;
    font-family: "Open Sans";
    font-size: 14px;
    background-color: #fff;
    padding: 10px;
    width: 330px;
    border-radius: 5px;
}
.page-select .next{
    padding: 15px;
    cursor: pointer;
}
.page-select .next:hover{
    color: #88b048;
}
.page-select .page-num{
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.page-select .page-num:hover{
    color: #fff;
    background-color: #88b048;
}

.show-more{
    width: 50%;
    text-align: center;
    color: #fff;
    background-color: #88B04B;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing:1px;
    cursor: pointer;
}
.show-more:hover{
    color: #fff;
    background-color: #336600;
}

.colors{
    width: 150px!important;
}
.colors li{
    background-size: 20px 20px;
    background: no-repeat center right;
}
.colors li:nth-child(2){background-image: url(../img/colors/gold.png);}
.colors li:nth-child(3){background-image: url(../img/colors/attatszo.png);}
.colors li:nth-child(4){background-image: url(../img/colors/barna.png);}
.colors li:nth-child(5){background-image: url(../img/colors/bezs.png);}
.colors li:nth-child(6){background-image: url(../img/colors/deepred.png);}
.colors li:nth-child(7){background-image: url(../img/colors/bronze.png);}
.colors li:nth-child(8){background-image: url(../img/colors/silver.png);}
.colors li:nth-child(9){background-image: url(../img/colors/white.png);}
.colors li:nth-child(10){background-image: url(../img/colors/black.png);}
.colors li:nth-child(11){background-image: url(../img/colors/blue.png);}
.colors li:nth-child(12){background-image: url(../img/colors/purple.png);}
.colors li:nth-child(13){background-image: url(../img/colors/red.png);}
.colors li:nth-child(14){background-image: url(../img/colors/copper.png);}
.colors li:nth-child(15){background-image: url(../img/colors/pink.png);}
.colors li:nth-child(16){background-image: url(../img/colors/yellow.png);}
.colors li:nth-child(17){background-image: url(../img/colors/magenta.png);}
.colors li:nth-child(18){background-image: url(../img/colors/gray.png);}
.colors li:nth-child(19){background-image: url(../img/colors/turkiz.png);}
.colors li:nth-child(20){background-image: url(../img/colors/green.png);}
.colors li:nth-child(21){background-image: url(../img/colors/stripe.gif);}
.colors li:nth-child(22){background-image: url(../img/colors/ska.jpg);}
.colors li:nth-child(23){background-image: url(../img/colors/pattern.jpg);}
.colors li:nth-child(24){background-image: url(../img/colors/dot.jpg);}
.colors li:nth-child(25){background-image: url(../img/colors/tarka.jpg);}
.colors li:nth-child(26){background-image: url(../img/colors/orange.png);}


.category-desc{
    margin: 0 5px 0 5px;
}
.category-desc .content{
    text-align:justify;
}

/* Kategória dropdown */
.dropdown-hover .dropdown-hover-menu{
    z-index: 9999;
}

.clear{
    clear: both;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

/* ASK */
.ask{
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 500px;
    background-color: #88b048;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-family: "Open Sans";
    z-index: 9999999;
}
.ask .back{
    width: 100%;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    display: block;
}
.ask .back:hover{
    background-color: #336600;
}
.ask #accordion{
    width: 100%;
}
.ask #accordion .card{
    border: 0;
}
.ask #accordion .card-header{
    background-color: #88b048;
    padding: 5px;
    border-bottom: 0;
}
.ask #accordion .card-header:hover{
    background-color: #336600;
}
.ask #accordion .card-header h5{
    font-weight: normal;
}
.ask #accordion .card-header a{
    color: #fff;
    font-size: 18px;
}
.ask #accordion .collapse{
    background-color: #88b048;
}
.ask #accordion .card-block{
    background-color: #a9ce5a;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}
.ask #accordion textarea{
    width: 100%;
    height: 200px;
    background-color: #d1f08e;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    margin: 5px 0 0 0;
}
.ask #accordion input{
    background-color: #d1f08e;
    border: 1px solid #333;
    color: #333;
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.ask #accordion input:hover{
    background-color: #88b048;
    color: #333;
}

/*********************************************************************************************/
/***** MAINPAGE *****/
/*********************************************************************************************/
.bannerhely-mp{
    margin: 10px 0 0 0;
    height: 250px;
    background-color: #ccc;
}
.bannerhely-fixed-mp{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; top: 90px;
}
.bannerhely-fixed-bottom-mp{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; bottom: 610px;
}

.widget-mp{
    margin: 10px 0 0 0;
    height: 150px;
    background-color: #ccc;
}
.widget-fixed-mp{
    margin: 50px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; top: 345px;
}
.widget-fixed-bottom-mp{
    margin: 48px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; bottom: 450px;
}


.dropdown-hover .dropdown-hover-menu{
    z-index: 9999;
}
/*ROW RIGHT*/
.row-right{
    width: 100%;
    margin: 84px 0 0 0;
    padding: 10px;
}

* { box-sizing: border-box; }
/*search*/
.top-search{
    padding: 100px;
    margin-bottom: 20px;
    text-align: center;
    background: url(/assets/img/static.jpg) no-repeat;
    background-size: cover;
}
.top-search span{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    color: #eee;
    font-size: 12px;
    margin: 5px;
    text-align: center;
    background: rgba(0,0,0,.7);
    padding: 1px;
}
.search-bar-wrap{
    margin: 50px 150px 0px 150px;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
}
.search-bar-wrap .fa-search{
    font-size: 24px;
    color: #666;
    position: relative;
    top: 10px;
    left: 30px;
}
.search-bar-wrap #search-bar{
    float: left;
    width: 80%;
    height: 47px;
    border-radius: 3px;
    border: 0;
    color: #a7a7a7;
    font-size: 22px;
    line-height: 22px;
    padding: 11px 11px 12px;
    background: #fff;
}
.search-bar-wrap img{
    float: right;
    width: 35px;
    position: absolute;
    right: 260px;
    top: 162px;
    opacity: 0.3;
}

/*benefits*/
.benefits-row .content{
    background-color: #fff;
    padding: 35px 0 0 0;
}
.benefits-row .headline{
    margin: 50px 0 20px 0;
}
.benefits{
    float: left;
}
.benefits-box{
    background-color: #88B04B;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto 10px auto;
    padding: 15px 0 0 0;
    text-align: center;
}
.benefits-box .svg-inline--fa{
    font-size: 42px;
    color: #333;
    margin: 7px 0 0 0;
    position: relative;
    left: -30px;
    top: -25px;
}
.benefits-text{
    text-transform: uppercase;
    font-family: "Open Sans", cursive;
    font-size: 18px;
    color: #333;
    position: relative;
    top: -105px;
    left: 130px;
}

/*CUSTOMERS SAY*/
.customers-say-row .headline{
    color: #333;
    position: relative;
    top: 100px;
    margin: 0 0 5px 0;
}
.customers-say-row .content{
    background: url(/assets/img/quote-bg.jpg) fixed center no-repeat;
    background-size: cover;
    padding: 25px;
}
.customers-say-row .quote-circle{
    text-align: center;
    background-color: #88B04B;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}
.customers-say-row .quote-circle .fa-quote-right{
    position: relative;
    top: 70px;
    left: 0px;
    font-size: 50px;
}

#carouselExampleControls{
    width: 100%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{

    height: 100px;
}
.carousel-control-prev-icon{
    background-image: url(/assets/img/arrow-prev.svg);
}
.carousel-control-next-icon{
    background-image: url(/assets/img/arrow-next.svg);
}
.carousel-inner{
    width: 70%;
    margin: auto;
}
.carousel-indicators{
    position: relative;
    bottom: 0;
}
.carousel-indicators li{
    border: 1px solid #88b048;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color: #88b048;
}
#carouselExampleControls ol{
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}
.carousel-item blockquote{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.45;
    position: relative;
    text-align: center;
    margin: 0.25em auto 10px;
}
.carousel-item blockquote p{
    height: 210px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
.carousel-item blockquote cite {
    font-size: 14px;
    display: block;
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    color: inherit;
}
.carousel-item blockquote cite:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 45px;
    width: 40px;
    background-color: #E4E3E1;
    height: 2px;
    color: #adadad;
}
.photo-member img {
    width: 60px;
    border-radius: 50%;
    display: block;
    height: auto;
    max-width: 100%;
    border: 1px solid #9f9f9f;
    vertical-align: top;
    margin: 20px auto;
    -webkit-transition: all 300ms ease 10ms;
    -moz-transition: all 300ms ease 10ms;
    -o-transition: all 300ms ease 10ms;
    transition: all 300ms ease 10ms;
}

/*NEWSLETTER*/
.newsletter{
    width: 120%;
    margin: 0 0 30px -10%;
    padding: 25px;
    background: linear-gradient(to right, #336600 , #8bc34a);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}
.newsletter form{
    margin: 15px 0 0 0;
}
.newsletter form .input-text{
    color: #333;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.newsletter form .input-button{
    border: 1px solid #88b048;
    background-color: #fff;
    padding: 10px 15px;
    margin: 15px auto 35px auto;
    color: #88b048;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.newsletter form .input-button:hover{
    color: #fff;
    background-color: #336600;
}

.button {
    width: 350px;
    border: 1px solid #88b048;
    background-color: transparent;
    padding: 10px 15px;
    margin: 15px auto 35px auto;
    color: #88b048;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.button:hover {
    border: 1px solid #88b048;
    background-color: #88b048;
    color: #fff;
}

/*MEDIA REF*/
.media-ref{
    margin: 25px 0 0 0;
    text-align: center;
}
.media-ref:after{
    content: "";
    display: table;
    clear: both;
}
.media-ref img{
    height: 50px;
    display: inline;
    margin: 25px;
}
.headline{
    text-align: center;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Amatica SC', cursive;
    color: #777;
    margin: 50px 0 10px 0;
    padding: 0 0 0 5px;
}
.subtext{
    text-align: justify;
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

/*********************************************************************************************/
/********** FAQ **********/
/*********************************************************************************************/
.text-center{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.1em;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Amatica SC', cursive;
    color: #333;
    letter-spacing: -2px;
}
/*SEARCH BAR*/
.kereso{
    height:200px;
}

.searchbar {
    position: relative;
    width:610px;
    margin: 50px auto;
}


.searchbar input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    color: #999;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
    height:50px;
}

[dir=rtl] .searchbar input[type="search"] {
    padding-right: 40px;
    padding-left: 20px;
}

.searchbar input[type="search"]:focus {
    color: #555;
}

.searchbar:before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #ddd;
    /* content: "\1F50D";*/
    font-size: 18px;
    position: absolute;
    left: 15px;
}
.searchbar img{
    width:20px;
    position:relative;
    top:35px;
    right:-10px;
    opacity:0.3;
}

[dir=rtl] .searchbar:before {
    right: 15px;
    left: auto;
}

.search-full input[type="search"] {
    border: 1px solid #fff;
}

#app .col-xs-12{
    width: 100% !important;
}

#search-button{
    border: 0;
    color: #fff;
    border-radius: 5px;
    background-color: #84b848;
    height: 30px;
    position:relative;
    top: -40px;
    left: 525px;

    cursor: pointer;

}
#search-button:hover{
    color: #fff;
    background-color: #336600;
    border: 0;
}

/*HEADLINE*/
.text-center-lead{
    margin:20px 0 40px 0;
    text-align:center;
}

/*NAV*/
#faq-nav .col-xs-12{
    margin-left:15px;
}
.faq-nav li {
    margin:0;
    padding: 0;
}
.faq-nav li a{
    display:block;
    color: black;
    padding: 8px;
    border-radius: 0px;
    border-bottom:1px solid #999;
    text-decoration: none;
}

.faq-nav li a.active, .faq-nav li a.active:hover {
    background-color: #8bc34a;
    color:white;
}
.faq-nav li a:hover {
    background-color: #eaeaea;
    color: black;
}
.faq-question {
    font-size: 18px;
}
.faq-item {
    cursor: pointer;
}
.faq-item:hover {
    background-color: #f7f7f7;
}
.faq-answer {
    border-top: 1px solid #eaeaea;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.faq-answer a{
    color: #88b048;
}
.faq-answer a:hover{
    color: #336600;
}
.faq-nav {
    list-style: none;
    margin:0;
    padding:0;
}

.faq-type-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
    height: 65px;
}
.faq-type-nav li {
    display: block;
    float:left;
    padding: 20px;
    border-top: 3px solid white;
}
.faq-type-nav li.active {
    border-top: 3px solid green;
}
.faq-type-nav li.active a {
    font-weight: bold;
    color: green;
}
/*KÉRDÉSEK*/
.alert {
    padding: 15px;
    margin:0;
    border-top: 1px solid #999;
    border-radius: 0;
}
.alert:last-of-type{
    border-bottom: 1px solid #999;
}
.alert button{
    opacity: 1;
    outline: none;
}
.alert .fa-plus, .alert .fa-minus{
    color: #84b848;
    margin: 0 10px 0 0;
}
.close{
    float:left;
    position: relative;
    top: 2px;
}
.button-center{
    text-align: center;
}
.button-center a, .button-center .btn-default{
    padding: 15px;
    background-color: #8bc34a;
    color: #fff;
    cursor: pointer;
    height: auto;
}
.button-center a:hover{
    background-color: #336600;
}
.button-center a .fa-envelope{
    color: #fff;
    margin: 0 10px 0 0;
    font-size: 16px;
}