/*-------------------------------------------------------------------------------------------*/
/* GLOBAL - TOPNAV */
/*-------------------------------------------------------------------------------------------*/
.topnav{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 99999;
    width: 100%;
}
.topnav a{
    color: #777;
}
.topnav a:hover{
    text-decoration: none;
}
.topnav .header{
    border-bottom: 1px solid #eee;
    height: 50px;
    padding: 5px;
}
.topnav .header .left{
    float: left;
}
.topnav .header .left .logo{
    float: left;
    padding: 0 0 0 15px;
}
.topnav .header .left .logo img{
    height: 40px;
}
.topnav .header .left .dropdown{
    float: left;
    height: 40px;
    padding: 5px;
    margin: 0 0 0 10px;
    bottom: 3px;
}
.topnav .header .left .dropdown img{
    width: 25px;
    margin-top: 5px;
}
.topnav .header .left .dropdown .dropdown-menu{
    position: absolute;
    top: 38px;
    z-index: 99999;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.topnav .header .left .dropdown .btn-secondary{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.topnav .header .left .dropdown .btn-secondary:hover{
    background-color: #eee;
}
.topnav .header .left .dropdown .dropdown-toggle::after{
    color: #666;
}
.topnav .header .left .dropdown .dropdown-menu .dropdown-item{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.topnav .header .left .dropdown .dropdown-menu li a:hover{
    background-color: #eee;
}

.topnav .header .left #search-form{
    float: left;
    margin: 2px 0 0 10px;
    padding: 1px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.topnav .header .left #search-form .input-txt{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 0;
}
.topnav .header .left #search-form input:focus{
    outline: none !important;
}
.topnav .header .left #search-form .input-btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
.topnav .header .right{
    float: right;
}
.topnav .header .right .dropdown{
    float: right;
    line-height: 40px;
    cursor: pointer;
    padding: 0 10px;
    color: #777;
    bottom: 3px;
}
.topnav .header .right .dropdown .badge{
    padding: 3px 7px;
    border-radius: 10px;
}
.topnav .header .right .dropdown .dropdown-menu{
    position: absolute;
    top: 38px;
    left: 83px;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 0 5px 5px;
}
.topnav .header .right .dropdown .btn-secondary{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #666;
}
.topnav .header .right .dropdown .btn-secondary:hover{
    background-color: #eee;
}
.topnav .header .right .dropdown .dropdown-toggle::after{
    color: #666;
}
.topnav .header .right .dropdown .dropdown-menu .dropdown-item{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.topnav .header .right .dropdown .dropdown-menu li a:hover{
    background-color: #eee;
}
.topnav .header .right .kosar{
    float: right;
    margin: 8px 10px 10px 10px;
}
.topnav .header .right .kosar a{
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 7px 5px 5px 5px;
}
.topnav .header .right .kosar a:hover{
    color: #333;
}
.topnav .header .right .kosar .badge{
    display: inline-block;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}
.topnav .header .right .kosar .visible-xs-inline-block{
    display: none!important;
}
.topnav .cat .main-cat{
    float: left !important;
    list-style-type: none;
    padding: 9px 15px 7px 15px;
    font-size: 14px;
    color: #777 !important;
}
.topnav .cat .main-cat a{
    color: #777;
}
.topnav .cat .main-cat:first-of-type{
    margin-left: 0px;
}

.topnav .cat li .fa-chevron-right{
    float: right;
    margin-top: 5px;
}
.topnav .cat .main-cat .dropdown-hover-menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    z-index: 999999;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.burger{
    float: right;
    display: none;
}
.burger .btn, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle{
    background-color: #fff;
    color: #666;
    border: 1px solid #666;
}
.burger .dropdown-toggle::after{
    display: none;
}
.burger span{
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    font-family: "Open Sans", cursive;
    color: #003366;
}
.burger .dropdown-item{
    background-color: transparent;
    text-align: center;
}
.burger #search-form{
    margin: auto;
    border: 1px solid #aaa;
    padding: 5px;
    width: 250px;
}
.burger #search-form .input-txt{
    padding: 6px 0px 10px 12px;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 0;
}
.burger #search-form .input-btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
.burger .kosar{
    margin: 8px 10px 10px 10px;
}
.burger .kosar a{
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 7px 5px 5px 5px;
}
.burger .kosar a:hover{
    color: #333;
}
.burger .kosar .badge{
    display: inline-block;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}
.burger .kosar .visible-xs-inline-block{
    display: none!important;
}
.burger .dropdown-menu.show{
    position: absolute !important;
    top: 10px !important;
    left: 11px !important;
    width: 330px;
}

.btn.focus, .btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}
.header:after, .header .left:after, .topnav .cat{
    content: "";
    display: table;
    clear: both;
}

/* FA */
.topnav .fa-bars{
    margin: 0 5px 0 0;
    font-size: 16px;
}
.topnav .fa-envelope{
    margin: 0 5px 0 0 !important;
    font-size: 16px !important;
}
.topnav .fa-sign-out{
    margin: 0 0 0 5px !important;
    font-size: 16px !important;
}
.topnav .fa-shopping-cart{
    margin: 0 0 3px 0;
    font-size: 16px;
}
.topnav .fa-search{
    color: #666;
    margin: 0!important;
}