/*** TITLES ***/
.content{
    margin: 91px 0 0 0;
    background-color: #eceef4;
}
.wrapper{
    margin: 50px;
    background-color: #eceef4 !important;
}
.titles .content, .customer-info .content{
    background-color: #fff;
    border: 1px solid #c9d0e1;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.seller{
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 5px;
    background-color: #eceef4;
}
.seller:first-of-type{
    display: none;
}
.seller:last-of-type{
    margin-bottom: 0;
}
.seller button{
    width: 100%;
    background-color: transparent;
    border: 0;
    color: #000;
    text-align: left;
}
.seller button:hover{
    width: 100%;
    background-color: transparent;
    border: 0;
    color: #000;
}
.seller .logo{
    max-width: 250px;
    float: left;
}
.seller .logo img{
    max-height: 50px;
}
.seller .avatar{
    float: left;
    margin: 0 0 0 10px;
}
.seller .avatar img{
    border-radius: 50%;
}
.btn .sum_price{
    float: right;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    line-height: 50px;
}
.card{
    border: 0;
    background-color: #eceef4;
}
.product .name{
    float: left;
}
.product .amount{
    float: left;
    margin: 0 0 0 10px;
}
.product .price{
    float: right;
}
.sum_price{
    text-align: right;
    border-top: 1px solid rgba(0,0,0,.125);
    margin-top: 5px;
    padding-top: 5px;
}
.sum_price img{
    border-radius: 50%;
    height: 30px;
}

/*** CUSTOMER ***/
.personal-info{
    padding: 5px;
    background-color: #eceef4;
}
.delivery-info{
    margin: 5px 0 0 0;
    padding: 5px;
    background-color: #eceef4;
}

.clear{
    clear: both;
}