.content{
    margin: 91px 0 0 0;
    background-color: #eceef4;
}
.wrapper{
    margin: 50px;
    background-color: #eceef4 !important;
}
.titles .content, .customer-info .content{
    background-color: #fff;
    border: 1px solid #c9d0e1;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}