/***********************************************************************************************/
/********** MAINPAGE **********/
/***********************************************************************************************/
@media only screen and (max-width: 424px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    /*benefits*/
    .benefits-text {
        position: relative;
        top: -105px;
        left: 140px;
    }
    /*product-box*/
    .product-box .seller{
        font-size: 12px;
        text-transform: uppercase;
    }
    .product-box .description{
        height: 70px;
        font-size: 14px;
        height: 65px;
    }
    .product-box .product-description{
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
    .product-box .price{
        font-size: 27px;
        padding: 0;
    }
    .basket-mobile{
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }

    /*Numbers*/
    .numbers-row ul > li.column{
        border-right: 0;
        border-bottom: 0;
    }
    .numbers-row ul > li.column:last-of-type{
        border-bottom: 0;
    }

    /*Benefits*/
    .benefits{
        width: 100% !important;
        margin: 0 0 50px 0;
    }

    .button {
        width: 250px;
    }
    /*newsletter*/
    .newsletter form .input-text {
        margin: 0 0 15px 0;
    }
}     /* xs */
@media only screen and (min-width: 425px) and (max-width: 485px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    .benefits-text {
        position: relative;
        top: -105px;
        left: 200px;
    }
    /*product-box*/
    .product-box .price{
        font-size: 30px;
    }
    /*newsletter*/
    .newsletter form .input-text {
        margin: 0 0 15px 0;
    }
}     /* xs */
@media only screen and (min-width: 425px) and (max-width: 550px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    .benefits-text {
        position: relative;
        top: -105px;
        left: 230px;
    }
    /*product-box*/
    .product-box .seller{
        font-size: 17px;
        text-transform: uppercase;
    }
    .product-box .product-description {
        width: 65%;
        padding: 10px 0px 10px 0px;
        float: left;
        font-size: 12px;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }

    /*Numbers*/
    .numbers-row ul > li.column{
        border-right: 0;
        border-bottom: 0;
    }
    .numbers-row ul > li.column:last-of-type{
        border-bottom: 0;
    }

    /*Benefits*/
    .benefits{
        width: 100% !important;
        margin: 0 0 50px 0;
    }
}     /* xs */
@media only screen and (min-width: 551px) and (max-width: 767px){
    .col-xs-6-custom {
        width: 50%;
    }
    /*numbers*/
    .numbers-row .headline{
        margin: 0px 0 10px 0;
    }
    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 230px;
    }
    /*product-box*/
    .product-box{
        min-height: 365px;
    }
    .product-box .seller{
        font-size: 26px;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 55px;
    }
    .nav-wrap{
        margin: 0;
    }

    /*Numbers*/
    .numbers-row ul > li.column{
        border-right: 0;
        border-bottom: 0;
    }
    .numbers-row ul > li.column:last-of-type{
        border-bottom: 0;
    }

    /*Benefits*/
    .benefits{
        width: 100% !important;
        margin: 0 0 50px 0;
    }
}     /* xs */
@media only screen and (min-width: 768px) and (max-width: 1100px){
    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 16px;
        color: #333;
        position: relative;
        top: -105px;
        left: 80px;
    }
    .col-sm-4-custom{
        width: 33.33333333%
    }
    .product-box .seller{
        font-size: 24px;
        text-transform: uppercase;
    }
}       /* sm */
@media only screen and (min-width: 1101px) and (max-width: 1300px){
    .col-md-3-custom{
        width: 25%;
    }
    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 65px;
    }
    .product-box .price{
        padding: 5px 0px;
        font-size: 28px;
    }
    .product-box .basket{
        margin: 14px 0 11px 0;
    }
}     /* md */
@media only screen and (min-width: 1301px) and (max-width: 1650px){
    .col-lg-2-custom{
        width: 20%;
    }

    .product-box .seller{
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:14px;
        padding: 5px 0px;
        height: 70px;
    }
}        /* lg */
@media only screen and (min-width: 1651px){
    .col-xl-2-custom{
        width: 20%
    }
    .product-box .seller{
        font-size: 14px;
        text-transform: uppercase;
    }
    .product-box .description{
        font-size:20px;
        padding: 5px 0px;
        height: 90px;
    }
    .product-box .price{
        padding: 5px 0px;
    }

    /*BANNER/WIDGET*/
    .widget-fixed-bottom{
        margin: 48px 0 0 0;
        height: 150px;
        background-color: #ccc;
        position: fixed; top: 359px;
    }
    .bannerhely-fixed-bottom{
        margin: 48px 0 0 0;
        height: 250px;
        background-color: #ccc;
        position: fixed; top: 99px;
    }
}        /* xl */
/* ROW LEFT */
@media only screen and (max-width: 1100px){
    .bannerhely, .widget, .bannerhely-fixed, .widget-fixed, .bannerhely-fixed-bottom, .widget-fixed-bottom {
        display: none;
    }
}       /* sm - xs */
/* NAVBAR DISPLAY */
@media (max-width: 1000px){
    .hidden-xs {
        display: none!important;
    }

    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;

    }
    .row-wrapper {
        padding-left: 35px;
    }
    .row-left {
        position: absolute;
        left: 41px;
        top: 90px;
    }
    .bannerhely-mp , .widget-mp{
        display: none;
    }

    .nav-wrap{
        margin: 0;
    }
    .sidebar{

    }
    .sidebar .trigger span{
        margin-right: 5px;
    }

    .specify{
        position: fixed;
        top: 50px;
        left: 35px;
    }

    .row-right{
        margin: 40px 0 0 0;
    }

    /*ProductBox*/
    .product-box .description{
        height: 49px;
    }
    .basket{
        display: none;
    }
    .basket-mobile{
        display: block;
    }
}
/* SEARCH DISPLAY */
@media (max-width: 767px){
    .top-search{
        display: none;
    }
}
/* NAVBAR FIX */
@media only screen and (min-width: 768px) and (max-width: 941px){
    /*ProductCat Pos*/
    .main{
        position: fixed;
        top: 50px;
    }
    .nav-wrap{
        margin: 0;
    }

    .navbar{
        max-height: 53px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px){
    .specify{
        position: fixed;
    }
}
/* NUMBERS */
@media only screen and (min-width: 768px) and (max-width: 848px){
    .number-container .number-details{
        height: 32px;
    }
}
/* BENEFITS */
@media only screen and (min-width: 551px) and (max-width: 600px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 140px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 650px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 150px;
    }
}
@media only screen and (min-width: 651px) and (max-width: 700px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 160px;
    }
}
@media only screen and (min-width: 701px) and (max-width: 767px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 170px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1000px){

    .benefits-text {
        text-transform: uppercase;
        font-family: "Open Sans", cursive;
        font-size: 18px;
        color: #333;
        position: relative;
        top: -105px;
        left: 110px;
    }
}

/* COL-CUSTOM */
@media only screen and (min-width: 992px) and (max-width: 1191px){
    .col-xl-2-custom{
        max-width: 20%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1150px){
    .basket{
        display: none;
    }
    .basket-mobile{
        display: block;
    }
}
@media only screen and (min-width: 1200px){
    .basket{
        display: none;
    }
    .basket-mobile{
        display: block;
    }
    .product-box .price{
        font-size: 26px;
        margin-top: 5px;
    }
}