*{
    outline: none;
}
body{
    background-color: #F8F8F8;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.header-menu ul {
    margin: 0 0 0 5px;
}

.row{
    padding:0;
}
.row-wrapper{
    padding-left: 250px;
}

/*ROW LEFT*/
.row-left{
    padding: 0;
    margin-left: -250px;
    position: absolute;
    left: 250px;
    top: 94px;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;
}
.sidebar{
    float: left;
    height: 100%;
    padding: 0;
    border-right: 1px solid #ccc;
}
.sidebar-content{
    margin: 0;
    padding: 0;
}

.sidebar .trigger{
    background-color: #88B04B;
    border: 0;
    border-top: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 5px 10px 15px;
    text-align: right;
    outline: none;
}
.sidebar .trigger:hover, .sidebar .trigger:active, .sidebar .trigger:focus,
.sidebar .trigger.hover, .sidebar .trigger.active, .sidebar .trigger.focus{
    background-color: #336600;
    border: 0;
    border-top: 1px solid #ccc;
    outline: none;
}
.sidebar .trigger img{
    margin: -2px 2px -2px 5px;
    width: 25px;
    height: 25px;
    float: right;
}
.sidebar .trigger span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Open Sans";
}
.subnav{
    /*border-top: 1px solid #ccc;*/
}
.subnav a{
    width: 100%;
    float: right;
    text-align: right;
    background-color: #88B04B;
    color: #fff;
    padding: 5px 35px 5px 5px;
    font-family: "Open Sans";
    font-size: 12px;
    border-bottom: 1px solid #ccc;
}
.subnav a:hover{
    width: 100%;
    float: right;
    background-color: #336600;
    color: #fff;
}
.subnav a:last-child{
    border-bottom: 0;
}
.hamburger-menu{
    width: 14px !important;
    height: 16px !important;
    margin: 0 5px 0 5px !important;
}
.main{
    position:fixed;
    width: 250px;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
}
.nav-wrap{
    width: 250px;
    margin: 41px 0 0 0;
}

.bannerhely{
    margin: 10px 0 0 0;
    height: 250px;
    background-color: #ccc;
}
.bannerhely-fixed{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; top: 99px;
}
.bannerhely-fixed-bottom{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; bottom: 580px;
}

.widget{
    margin: 10px 0 0 0;
    height: 150px;
    background-color: #ccc;
}
.widget-fixed{
    margin: 50px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; top: 359px;
}
.widget-fixed-bottom{
    margin: 48px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; bottom: 420px;
}

/* Termékkategória nav */
.col-md-2-250{
    width: 250px;
}
.col-lg-2-250{
    width: 250px;
}
.col-xl-2-250{
    width: 250px;
}
.dropdown-hover .dropdown-hover-menu{
    z-index: 9999;
}
/*ROW RIGHT*/
.row-right{
    width: 100%;
    margin: 84px 0 0 0;
    padding: 10px;
}

/*****************************************************************/
* { box-sizing: border-box; }
.video-background {
    background: #000;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 480%; top: -380%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
    .vid-info { width: 50%; padding: .5rem; }
    .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
    .vid-info .acronym { display: none; }
}
/*****************************************************************/

/*search*/
.search{
    padding: 100px;
    margin-bottom: 20px;
    text-align: center;
    background-image: url(../landingpage/images/static.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.search p{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    color: #eee;
    font-size: 24px;
    margin: 20px;
    text-align: center;
}
.search-bar-wrap{
    margin: 50px 150px 0px 150px;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
}
.search-bar-wrap #search-bar{
    float: left;
    width: 80%;
    height: 47px;
    border-radius: 3px;
    border: 0;
    color: #a7a7a7;
    font-size: 22px;
    line-height: 22px;
    padding: 11px 11px 12px;
    background: #fff;
}
.search-bar-wrap img{
    float: right;
    width: 35px;
    position: absolute;
    right: 260px;
    top: 162px;
    opacity: 0.3;
}

/*benefits*/
.benefits-row{}
.benefits{
    text-align: center;
}
.benefits-box{
    border: 2px solid #006633;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 10px auto;
    padding: 15px 0 0 0;
}
.benefits-box img{
    width: 35px;
}
.benefits-box .fa{
    font-size: 26px;
    color: #006633;
    margin: 7px 0 0 0;
}
.benefits-text{
    text-transform: uppercase;
    font-family: "Open Sans", cursive;
    font-size: 18px;
    color: #006633;
}

/*highlighted, browser, recently bought, recently uploaded*/
.product-box{
    background-color: #fff;
    padding: 9px 11px 0px 11px;
    max-width: 322px;
    cursor: pointer;
}
.image-wrap {
    max-width: 300px;
    display: block;
    overflow: hidden;
}
.product-image{
    width: 100%;
    max-width: 300px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.product-box:hover .product-image{
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}
.image-wrap .icon{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: 40% auto 0 auto;
    display: none;
}
.product-box:hover .icon{
    display: block;
}
.image-wrap .icon:hover{

}
.product-box .seller-pic{
    padding: 11px 0px 0px 0px;
    float: left;
    width: 20%;
    margin: 0 2% 0 0;
}
.product-box .seller-pic img{
    width: 100%;
    border-radius: 30px;
}
.product-box .product-description{
    width: 78%;
    padding: 10px 0px 10px 0px;
    float: left;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.product-box .seller{
    font-family: "Open Sans Condensed";
    font-size: 12px !important;
    text-transform: uppercase;
    color: #a0a0a0;
    letter-spacing: 1px;
}
.product-box .description{
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    font-size:16px;
    color: #000;
    padding: 5px 0px;
    letter-spacing: 1px;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-box .product-price{

}

.product-box .price{
    font-family: Amatic SC;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    padding: 3px 0px 0px 0px;
    float: left;
}
.basket{
    float: right;
    position: relative;
    font-family: Open Sans Condensed;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: #88b048;
    border: 1px solid #88b048;
    padding: 8px;
    margin: 11px 0 11px 0;
    border-radius: 3px;
}
.basket:hover{
    color: #fff;
    background-color: #88b048;
    border: 1px solid #88b048;
}

/*NUMBERS*/
.number-wrapper{
    width: 100%;
    margin: 0px auto;
    display: block;
    padding: 0px;
}
ul{
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    -webkit-padding-start: 0px;
    list-style: none;
}
.numbers-row ul{
    margin: 0;
    padding: 0;
}
.numbers-row ul > li.column{
    padding: 0px;
    margin: 0;
}
.numbers-row ul > li.column:last-of-type{
    border-right: 0;
}
.number-container {
    text-align: center;
    color: #333; /*#373D4B;*/
    padding: 30px;
}
.number-container .number{
    font-size: 30px;
    font-weight: 300;
    letter-spacing:1px;
}
.number-container .number-details{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

/*CUSTOMERS SAY*/
.customers-say-row .headline{
    color: #333;
    position: relative;
    top: 100px;
    margin: 0 0 5px 0;
}
.customers-say-row .content{
    background-image: url(img/quote-bg.jpg);
    padding: 25px;
}
.customers-say-row .quote-circle{
    text-align: center;
    background-color: #88B04B;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}
.customers-say-row .quote-circle:before{
    font-family: "FontAwesome";
    content: '\f10d';
    font-size: 50px;
    position: relative;
    top: 60px;
}
.customers-say-row blockquote{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    width: 95%;
    max-width: 95%;
    box-sizing: border-box;
    margin: 1.5em auto 20px;
    line-height: 1.45;
    position: relative;
    color: #383838; /*#373D4B*/
    border-left: 0px none;
    text-align: center;
}
.customers-say-row blockquote:before{
    font-family: Georgia, serif;
    display: block;
    font-size: 60px;
    position: absolute;
    left: 50%; /*-20px;*/
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: -21px;
    color: #adadad; /*#E4E3E1;*/ /*#7a7a7a;*/
}
.customers-say-row blockquote cite {
    font-size: 14px;
    display: block;
    margin-top: 35px;
    font-style: normal;
    font-weight: bold;
    color: inherit;
}
.customers-say-row blockquote cite span{
    display: block;
    font-weight: normal;
    color: #999999;
}
.customers-say-row blockquote cite:before {
    content: ''; /*"\2014 \2009";*/
    position: absolute;
    left: 50%; /*-20px;*/
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 45px; /*Ha van span, akkor: 88px; */
    width: 40px;
    background-color: #E4E3E1;
    height: 2px;
    color: #adadad;
}
.customers-say-row .slider-pics{
    max-width: 850px; /*400px */
    width: 100%;
    margin: -20px auto 50px auto;
}
.customers-say-row .slider-pics .customer-member {
    padding: 10px;
}
.customers-say-row .slider-pics .owl-item.synced .customer-member .photo-member{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
}
.customers-say-row .slider-pics .owl-item.synced .customer-member .photo-member .img-container{
    border: 2px solid #88b048;
    background-color: #88b048;
}
.customers-say-row .slider-pics .customer-member .photo-member{
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 7px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=0.35);
    opacity: 0.35;
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    -webkit-opacity: 0.35;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.customers-say-row .slider-pics .customer-member .photo-member:hover{
    cursor: pointer;
}

.customers-say-row .slider-pics .customer-member .photo-member .img-container{
    border-radius: 100%;
    border: 2px solid #88b048;
    overflow: hidden;
    padding: 3px;
    background: #FFF;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    box-shadow: none;
}
.customers-say-row .slider-pics .customer-member .photo-member .img-container .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}
.photo-member img {
    width: 100px;
    height: auto;
    max-width: 100%;
    border: 1px solid #9f9f9f;
    vertical-align: top;
    margin: auto;
    -webkit-transition: all 300ms ease 10ms;
    -moz-transition: all 300ms ease 10ms;
    -o-transition: all 300ms ease 10ms;
    transition: all 300ms ease 10ms;
}

.slider-pics .owl-wrapper{
    width: 1846px !important;
    margin-top: 20px;
}
.slider-pics .owl-wrapper .owl-item{
    width: 71px !important;
}

.slider-item .overlay{
    text-align: center;
}
.item .customer-member img{
    width: 60px!important;
    border-radius: 50%;
}
.customer-member .comment-dot{
    width: 20px;
    height: 20px;
}

/* NEW OWL CAROUSEL */
.owl-carousel{}
.owl-theme .owl-nav .owl-next{
    float: right;
    position: relative;
    bottom: 190px;
    color: transparent !important;
    background-color: transparent !important;
    background-image: url(img/arrow-next.svg) !important;
    background-repeat: no-repeat !important;
    height: 100px;
    margin: 0 auto !important;
    padding: 0px !important;
    border: 5px solid transparent;
}
.owl-theme .owl-nav .owl-next:hover{
    color: transparent;
    background-color: transparent;
    background-image: url(img/arrow-next.svg);
    background-repeat: no-repeat;
}
.owl-theme .owl-nav .owl-prev{
    float: left;
    position: relative;
    bottom: 190px;
    color: transparent !important;
    background-color: transparent !important;
    background-image: url(img/arrow-prev.svg) !important;
    background-repeat: no-repeat !important;
    height: 100px;
    margin: 0 !important;
    padding: 0 !important;
    border: 5px solid transparent;
}
.owl-theme .owl-nav .owl-prev:hover{
    color: transparent;
    background-color: transparent;
    background-image: url(img/arrow-prev.svg);
    background-repeat: no-repeat;
}

.owl-theme .owl-dots .owl-dot span{
    border: 1px solid #fff;
    background-color: transparent !important;
    width: 12px !important;
    height: 12px !important;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #fff !important;
}
.owl-theme .owl-dots .owl-dot span:hover{
    background-color: #fff !important;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #fff !important;
}

/*NEWSLETTER*/
.newsletter{
    width: 120%;
    margin: 0 0 0 -10%;
    padding: 25px;
    background: linear-gradient(to right, #336600 , #8bc34a);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}
.newsletter form{
    margin: 15px 0 0 0;
}
.newsletter form .input-text{
    color: #333;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.newsletter form .input-text::placeholder{
    color: #ccc;
}
.newsletter form .input-button{
    border: 1px solid #88b048;
    background-color: #fff;
    padding: 10px 15px;
    margin: 15px auto 35px auto;
    color: #88b048;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.newsletter form .input-button:hover{
    color: #fff;
    background-color: #336600;
}

.button {
    width: 350px;
    border: 1px solid #88b048;
    background-color: transparent;
    padding: 10px 15px;
    margin: 15px auto 35px auto;
    color: #88b048;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.button:hover {
    border: 1px solid #88b048;
    background-color: #88b048;
    color: #fff;
}

/*MEDIA REF*/
.media-ref{
    margin: 25px 0 0 0;
    text-align: center;
}
.media-ref:after{
    content: "";
    display: table;
    clear: both;
}
.media-ref img{
    height: 50px;
    display: inline;
    margin: 25px;
}

/*FOOTER*/
#footer{
    position: relative;
    z-index: 9999;
}

/*GLOBAL*/
.headline{
    text-align: center;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Amatic SC', cursive;
    color: #777;
    margin: 50px 0 10px 0;
    padding: 0 0 0 5px;
}
.subtext{
    text-align: justify;
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}
.content{}
.clear{
    clear: both;
}