*{
    outline: none;
}
body{
    background-color: #F8F8F8;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.header-menu ul {
    margin: 0 0 0 5px;
}

.row{
    padding:0;
}
.row-wrapper{
    padding-left: 250px;
}

/*ROW LEFT*/
.row-left{
    padding: 0;
    margin-left: -250px;
    position: absolute;
    left: 250px;
    top: 94px;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;
}
.sidebar{
    float: left;
    height: 100%;
    padding: 0;
    border-right: 1px solid #ccc;
}
.sidebar-content{
    margin: 0;
    padding: 0;
}

.sidebar .trigger{
    background-color: #88B04B;
    border: 0;
    border-top: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 5px 10px 15px;
    text-align: right;
    outline: none;
}
.sidebar .trigger:hover, .sidebar .trigger:active, .sidebar .trigger:focus,
.sidebar .trigger.hover, .sidebar .trigger.active, .sidebar .trigger.focus{
    background-color: #336600;
    border: 0;
    border-top: 1px solid #ccc;
    outline: none;
}
.sidebar .trigger img{
    margin: -2px 2px -2px 5px;
    width: 25px;
    height: 25px;
    float: right;
}
.sidebar .trigger span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Open Sans";
}
.subnav{
    /*border-top: 1px solid #ccc;*/
}
.subnav a{
    width: 100%;
    float: right;
    text-align: right;
    background-color: #88B04B;
    color: #fff;
    padding: 5px 35px 5px 5px;
    font-family: "Open Sans";
    border-bottom: 1px solid #ccc;
}
.subnav a:hover{
    width: 100%;
    float: right;
    background-color: #336600;
    color: #fff;
}
.subnav a:last-child{
    border-bottom: 0;
}
.hamburger-menu{
    width: 14px !important;
    height: 16px !important;
    margin: 0 5px 0 5px !important;
}
.main{
    position:fixed;
    width: 250px;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
}
.nav-wrap{
    width: 250px;
    margin: 41px 0 0 0;
}

.bannerhely{
    margin: 10px 0 0 0;
    height: 250px;
    background-color: #ccc;
}
.bannerhely-fixed{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; top: 99px;
}
.bannerhely-fixed-bottom{
    margin: 48px 0 0 0;
    height: 250px;
    background-color: #ccc;
    position: fixed; bottom: 370px;
}

.widget{
    margin: 10px 0 0 0;
    height: 150px;
    background-color: #ccc;
}
.widget-fixed{
    margin: 50px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; top: 359px;
}
.widget-fixed-bottom{
    margin: 48px 0 0 0;
    height: 150px;
    background-color: #ccc;
    position: fixed; bottom: 210px;
}

/* Termékkategória nav */
.col-md-2-250{
    width: 250px;
}
.col-lg-2-250{
    width: 250px;
}
.col-xl-2-250{
    width: 250px;
}
.dropdown-hover .dropdown-hover-menu{
    z-index: 9999;
}
/*ROW RIGHT*/
.row-right{
    width: 100%;
    margin: 84px 0 0 0;
    padding: 10px;
}
/*search*/
.search{
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ccc;
}
.search img{
    width: 17px;
    position: relative;
    right: 26px;
    bottom: 1px;
    opacity: 0.3;
}
.search #search-bar{}

/*benefits*/
.benefits-row{}
.benefits{
    text-align: center;
}
.benefits-box{
    border: 1px solid #333;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 10px auto;
}
.benefits-text{
    text-transform: uppercase;
    font-family: "Open Sans", cursive;
    font-size: 18px;
}

/*highlighted, browser, recently bought, recently uploaded*/
.product-box{
    background-color: #fff;
    padding: 9px 11px 0px 11px;
    max-width: 322px;
    cursor: pointer;
}
.image-wrap {
    background-color: #88B04B;
    box-shadow: inset 0 0 0px 10px #fff;
    max-width: 300px;
    display: block;
}
.product-image{
    width: 100%;
    max-width: 300px;
}

.product-box:hover .product-image{
    opacity: 0.5;
}
.image-wrap .icon{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: 40% auto 0 auto;
    display: none;
}
.product-box:hover .icon{
    display: block;
}
.image-wrap .icon:hover{

}
.product-box .seller-pic{
    padding: 11px 0px 0px 0px;
    float: left;
    width: 20%;
    margin: 0 2% 0 0;
}
.product-box .seller-pic img{
    width: 100%;
    border-radius: 30px;
}
.product-box .product-description{
    width: 78%;
    padding: 10px 0px 10px 0px;
    float: left;
    font-size: 12px;

    overflow: hidden;
    text-overflow: ellipsis;

}
.product-box .seller{
    font-family: "Open Sans Condensed";
    font-size: 12px !important;
    text-transform: uppercase;
    color: #a0a0a0;
    letter-spacing: 1px;
}
.product-box .description{
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    font-size:16px;
    color: #000;
    padding: 5px 0px;
    letter-spacing: 1px;
    height: 73px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-box .price{
    font-family: Amatic SC;
    font-size: 21px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    padding: 5px 0px 0px 0px;
    float: left;
}
.basket{
    float: right;
    position: relative;
    font-family: Open Sans Condensed;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: #88b048;
    border: 1px solid #88b048;
    padding: 5px;
    margin: 11px 0 0 0;
    border-radius: 5px;
}
.basket:hover{
    color: #fff;
    background-color: #88b048;
    border: 1px solid #88b048;
}

/*numbers*/
.numbers-row{}
.numbers{
    text-align: center;
}
.numbers-number{
    font-family: "Amatic SC", cursive;
    font-size: 36px;
    color: #65a89e;
}
.numbers-title{
    text-transform: uppercase;
    font-family: "Open Sans", cursive;
    font-size: 18px;
}

/*CUSTOMERS SAY*/
.customers-say-row blockquote{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    width: 95%;
    max-width: 95%;
    box-sizing: border-box;
    margin: 0.25em auto 10px;
    line-height: 1.45;
    position: relative;
    color: #383838; /*#373D4B*/
    border-left: 0px none;
    text-align: center;
}
.customers-say-row blockquote:before{
    font-family: Georgia, serif;
    display: block;
    font-size: 60px;
    position: absolute;
    left: 50%; /*-20px;*/
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: -21px;
    color: #adadad; /*#E4E3E1;*/ /*#7a7a7a;*/
}
.customers-say-row blockquote cite {
    font-size: 14px;
    display: block;
    margin-top: 35px;
    font-style: normal;
    font-weight: bold;
    color: inherit;
}
.customers-say-row blockquote cite span{
    display: block;
    font-weight: normal;
    color: #999999;
}
.customers-say-row blockquote cite:before {
    content: ''; /*"\2014 \2009";*/
    position: absolute;
    left: 50%; /*-20px;*/
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 45px; /*Ha van span, akkor: 88px; */
    width: 40px;
    background-color: #E4E3E1;
    height: 2px;
    color: #adadad;
}
.customers-say-row .slider-pics{
    max-width: 850px; /*400px */
    width: 100%;
    margin: -20px auto 50px auto;
}
.customers-say-row .slider-pics .customer-member {
    padding: 10px;
}
.customers-say-row .slider-pics .owl-item.synced .customer-member .photo-member{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
}
.customers-say-row .slider-pics .owl-item.synced .customer-member .photo-member .img-container{
    border: 2px solid #88b048;
    background-color: #88b048;
}
.customers-say-row .slider-pics .customer-member .photo-member{
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 7px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=0.35);
    opacity: 0.35;
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    -webkit-opacity: 0.35;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.customers-say-row .slider-pics .customer-member .photo-member:hover{
    cursor: pointer;
}

.customers-say-row .slider-pics .customer-member .photo-member .img-container{
    border-radius: 100%;
    border: 2px solid #88b048;
    overflow: hidden;
    padding: 3px;
    background: #FFF;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    box-shadow: none;
}
.customers-say-row .slider-pics .customer-member .photo-member .img-container .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}
.photo-member img {
    width: 100px;
    height: auto;
    max-width: 100%;
    border: 1px solid #9f9f9f;
    vertical-align: top;
    margin: auto;
    -webkit-transition: all 300ms ease 10ms;
    -moz-transition: all 300ms ease 10ms;
    -o-transition: all 300ms ease 10ms;
    transition: all 300ms ease 10ms;
}

.slider-pics .owl-wrapper{
    width: 1846px !important;
    margin-top: 20px;
}
.slider-pics .owl-wrapper .owl-item{
    width: 71px !important;
}

.slider-item .overlay{
    text-align: center;
}
.item .customer-member img{
    width: 60px!important;
    border-radius: 50%;
}
.customer-member .comment-dot{
    width: 20px;
    height: 20px;
}

/* NEW OWL CAROUSEL */
.owl-carousel{
    /*margin-bottom: 30px;*/
}
.owl-theme .owl-nav .owl-next{
    float: right;
    position: relative;
    bottom: 260px;
    color: transparent !important;
    background-color: transparent !important;
    background-image: url(img/arrow-next.svg) !important;
    background-repeat: no-repeat !important;
    height: 100px;
    margin: 0 auto !important;
    padding: 0px !important;
    border: 5px solid transparent;
}
.owl-theme .owl-nav .owl-next:hover{
    color: transparent;
    background-color: transparent;
    background-image: url(img/arrow-next.svg);
    background-repeat: no-repeat;
}
.owl-theme .owl-nav .owl-prev{
    float: left;
    position: relative;
    bottom: 260px;
    color: transparent !important;
    background-color: transparent !important;
    background-image: url(img/arrow-prev.svg) !important;
    background-repeat: no-repeat !important;
    height: 100px;
    margin: 0 !important;
    padding: 0 !important;
    border: 5px solid transparent;
}
.owl-theme .owl-nav .owl-prev:hover{
    color: transparent;
    background-color: transparent;
    background-image: url(img/arrow-prev.svg);
    background-repeat: no-repeat;
}

.owl-theme .owl-dots .owl-dot span{
    border: 1px solid #88b048;
    background-color: transparent !important;
    width: 12px !important;
    height: 12px !important;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #88b048 !important;
}
.owl-theme .owl-dots .owl-dot span:hover{
    background-color: #88b048 !important;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #88b048 !important;
}

/*FOOTER*/
#footer{
    position: relative;
    z-index: 9999;
}

/*GLOBAL*/
.headline{
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Amatic SC', cursive;
    color: #65a89e;
    margin: 100px 0 10px 0;
    padding: 0 0 0 5px;
}
.content{}
.clear{
    clear: both;
}