body{
    background-color: #ccc;
}
.row{}
.row-wrapper{
    padding-left: 50px;
}
.row-left{
    float: left;
    background-color: #666;
    margin-left: -50px;
    position: absolute;
    left: 50px;
    width: 50px;
    height: 100%;
    padding: 10px;
}
.row-right{
    float: left;
    width: 100%;
    background-color: #ccc;
}
.row-right .upside{
    background-color: #fff;
    margin: 5px;
    padding: 10px 0px 0 0;
}
.row-right .upside .left{
    float: left;
    text-align: center;
    padding-right: 7.5px;
}
.row-right .upside .left .first img{
    width: 100%;
    padding: 0%;
}
.row-right .upside .left .second{
    width: 100%;
    padding: 0%;
}
.row-right .upside .left .second img{
    width: 33%;
}
.row-right .upside .left .second img:nth-child(1){
    width: 33%;
    float: left;
    margin-right: 0.50%;
    margin-top: 0.50%;
}
.row-right .upside .left .second img:nth-child(2){
    width: 33%;
    float: left;
    margin-right: 0.25%;
    margin-top: 0.50%;

}
.row-right .upside .left .second img:nth-child(3){
    width: 33%;
    float: left;
    margin-left: 0.25%;
    margin-top: 0.50%;
}
.row-right .upside .left .third{
    text-align: justify;
}
.row-right .upside .left .third .headline{
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    margin-top: 10px;
}
.row-right .upside .left .third .text{}
.row-right .upside .left .third .button{
    padding: 5px;
    display: block;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #eee;
    text-align: center;
    width: 150px;
    margin: 15px auto 15px auto;
}
.row-right .upside .left .fourth{
    padding-bottom: 15px;
}
.row-right .upside .left .fourth .headline{
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    margin-top: 10px;
    text-align: left;
}
.row-right .upside .left .fourth img{
    width: 24.3333%;
    margin-top: 5px;
}

.row-right .upside .right{
    padding-left: 7.5px;
    float: left;
}
.row-right .upside .right .first .headline{
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
}
.row-right .upside .right .first .text{
    text-align: justify;
    margin: 15px 0;
}
.row-right .upside .right .second{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px;
    text-align: center;
}
.row-right .upside .right .second .price{
    font-weight: bold;
    font-size: 26px;
}
.row-right .upside .right .second a{
    color: #999;
}
.row-right .upside .right .second a:hover{
    color: #333;
}
.row-right .upside .right .second .button{
    padding: 5px;
    display: block;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    margin: 15px auto 15px auto;
}
.row-right .upside .right .third{
    padding: 30px 0;
}
.row-right .upside .right .third a{
    display: block;
    margin: 5px;
}
.row-right .upside .right .third .social{
    margin: 30px 0;
}
.row-right .upside .right .third .social div{
    height: 100px;
}
.row-right .upside .right .third .social-fb{
    float: left;
    width: 15.66667%;
    margin-right: 1%;
    background-color: #0072ef;
}
.row-right .upside .right .third .social-tw{
    float: left;
    width: 15.66667%;
    margin-right: 1%;
    background-color: deepskyblue;
}
.row-right .upside .right .third .social-in{
    float: left;
    width: 15.66667%;
    margin-right: 1%;
    background-color: dodgerblue;
}
.row-right .upside .right .third .social-ig{
    float: left;
    width: 15.66667%;
    margin-right: 1%;
    background-color: #0072ef;
}
.row-right .upside .right .third .social-gp{
    float: left;
    width: 16.66667%;
    background-color: orange;
}
.row-right .upside .right .third .social-pi{
    float: left;
    width: 15.66667%;
    margin-left: 1%;
    background-color: orangered;
}
.row-right .downside{
    background-color: #fff;
    margin: 5px;
    padding: 5px;
}
.row-right .downside .maker-info{}
.row-right .downside .maker-info .headline{
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    margin-bottom: 15px;
}
.row-right .downside .maker-info .maker-info-wrap{
    width: 100%;
}
.row-right .downside .maker-info .maker-info-wrap .col-1{
    width: 33.33333%;
    float: left;
}
.row-right .downside .maker-info .maker-info-wrap .col-2{
    width: 66.66666%;
    float: left;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-pic-wrap{
    float: left;
    width: 20%;
    text-align: center;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-pic-wrap img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-info-wrap{
    float: left;
    width: 80%;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-info-wrap .name{
    font-size: 28px;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-info-wrap a{
    color: #999;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-info-wrap a:hover{
    color: #333;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-info-wrap .reg{
    color: #999;
}
.row-right .downside .maker-info .maker-info-wrap .col-1 .maker-info-wrap .button{
    padding: 5px;
    display: block;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 150px;
    margin: 10px;
}

.row-right .downside .maker-info .maker-info-wrap .col-2{}
.row-right .downside .maker-info .maker-info-wrap .col-2 .headline{}
.row-right .downside .maker-info .maker-info-wrap .col-2 .ratings-wrapper{}
.row-right .downside .maker-info .maker-info-wrap .col-2 .ratings-wrapper .rating-col{
    width: 40%;
    margin: 0 5%;
    float: left;
}
.row-right .downside .maker-info .maker-info-wrap .col-2 .ratings-wrapper .rating-col .rating{
    color: #999;
}
.row-right .downside .maker-info .maker-info-wrap .col-2 .ratings-wrapper .rating-col .quote{
    text-align: center;
    margin: 15px 0;
}
.row-right .downside .maker-info .maker-info-wrap .col-2 .ratings-wrapper .rating-col .rated-by{
    text-align: center;
}
.row-right .downside .maker-info .maker-info-wrap .col-2 .ratings-wrapper .rating-col .rated-by img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
}
.row-right .downside .maker-info .maker-info-wrap .col-2 .ratings-wrapper .rating-col .rated-by .name{
    color: #999;
}

.row-right .downside .maker-products{
    margin-top: 30px;
}
.row-right .downside .maker-products .headline{
    font-family: Amatic SC, cursive;
    font-size: 32px;
}
.row-right .downside .maker-products .product-quantity{
    color: #999;
}
.row-right .downside .maker-products .product-pics-wrap{
    width: 100%;
    padding: 10px 0;
}
.row-right .downside .maker-products .product-pics-wrap img{
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 5px 5px 0;
}
.row-right .downside .maker-products a{
    color: #999;
}
.row-right .downside .maker-products a:hover{
    color: #333;
}

.clearfix{
    clear: both;
}

#footer{
    padding-top: 0;
}
#footer .footer-links{
    margin-top: 0;
}